<i18n>
  {
    "es": {
      "question": "¿Cuánto quieres ofertar?",
      "minimum_to_offer": "El mínimo para ofertar en {name} es de {amount} {currency}",
      "bid": "Ofertar",
      "back": "Volver",
      "available_amount": "Saldo disponible en cuenta",
      "warning_different_currency": "Recuerda que al utilizar una moneda distinta a la moneda del NFT, se realizará un swap al generar la oferta."
    },
    "es-AR": {
      "question": "¿Cuánto querés ofertar?",
      "minimum_to_offer": "El mínimo para ofertar en {name} es de {amount} {currency}",
      "bid": "Ofertar",
      "back": "Volver",
      "available_amount": "Saldo disponible en cuenta",
      "warning_different_currency": "Recordá que al utilizar una moneda distinta a la moneda del NFT, se realizará un swap al generar la oferta."
    },
    "en": {
      "question": "¿Cuánto quieres ofertar?",
      "minimum_to_offer": "El mínimo para ofertar en {name} es de {amount} {currency}",
      "bid": "Ofertar",
      "back": "Volver",
      "available_amount": "Saldo disponible en cuenta",
      "warning_different_currency": "Recuerda que al utilizar una moneda distinta a la moneda del NFT, se realizará un swap al generar la oferta."
    }
  }
</i18n>

<template>
  <div>
    <v-card-text class="px-8">
      <v-row no-gutters class="mb-2 mt-3">
        <span class="subtitle-1 white--text">
          {{$t('question')}}
        </span>
      </v-row>
      <v-row no-gutters class="d-flex flex-column">
        <span class="mb-5 caption dianthus-primary--text">
          {{$t('minimum_to_offer', {name: project.title, amount: currencyFormat(selected_currency.minimum, 'custom', selected_currency.parts_presicion), currency: selected_currency.name})}}
        </span>

        <div class="d-flex flex-row currencyAmountWidth" v-if="selected_currency != null">
          <div class="d-flex flex-row align-center avatarWidth">
            <v-avatar size="26">
              <v-img :src="selected_currency.logoUrl" :alt="selected_currency.name" />
            </v-avatar>
            <span class="ml-2 overline white--text">{{selected_currency.name}}</span>
          </div>
          <div class="amount_input">
            <v-autonumeric
              :initFocused="true"
              :details="false"
              id="amount"
              label=""
              :messages="hasErrorMessage"
              :error="hasError"
              v-model="amountInput"
              class="ma-0 pa-0 ml-3"
              :options="cryptoConfig"
              :dark="true"
              orientationClass="text-right"
              :readonly="creating_checkout"
            ></v-autonumeric>
          </div>
        </div>
      </v-row>

      <v-row no-gutters>
        <div class="mt-1 pr-1 caption-2 text-right white--text availableWidth" v-if="selected_currency.amounts">
          {{$t('available_amount')}} {{availableBalance}}
        </div>
      </v-row>

      <v-row no-gutters class="d-flex flex-column w100" v-if="project.currency != selected_currency.name">
        <v-divider dark class="my-5"></v-divider>
        <div class="caption-2 grey--text">
          {{$t('warning_different_currency')}}
        </div>
        <v-divider dark class="my-5"></v-divider>
      </v-row>

    </v-card-text>
    <v-card-actions class="px-5 pt-0 pb-5 d-flex justify-center" :class="actionsFlexClass">
      <v-col class="mw230 text-right pa-2" xs="12" sm="3">
        <v-btn :disabled="creating_checkout" block color="#41FFAF" dark @click="goToStep('currency')" large outlined>{{$t('back')}}</v-btn>
      </v-col>
      <v-col class="mw230 pa-2" xs="12" sm="3">
        <v-btn :loading="creating_checkout" block color="#41FFAF" :dark="!enableOfferButton" @click="setOffer()" :disabled="!enableOfferButton" large>{{$t('bid')}}</v-btn>
      </v-col>
    </v-card-actions>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  components: {},
  data() {
    return {
      amountInput: 0,
      cryptoConfig: {
        digitGroupSeparator: '.',
        decimalCharacter: ',',
        decimalCharacterAlternative: '.',
        roundingMethod: 'U',
        decimalPlaces: 8,
        minimumValue: '0'
      },
      hasError: false,
      hasErrorMessage: "",
    };
  },
  computed: {
    ...mapState("nft_bid", ["project", "selected_currency", "amount", "step", "creating_checkout"]),
    enableOfferButton(){
      if(
          this.amountInput != '' &&
          this.amountInput > 0 &&
          this.amountInput >= this.truncate(Number(this.selected_currency.minimum), this.selected_currency.parts_presicion) &&
          this.amountInput <= this.truncate(Number(this.selected_currency.amounts.available), this.selected_currency.parts_presicion)
        ) {
        return true;
      } else {
        return false;
      }
    },
    actionsFlexClass(){
      if(this.$vuetify.breakpoint.xs) return 'flex-column flex-column-reverse';
      if(!this.$vuetify.breakpoint.xs) return 'flex-row';
    },
    availableBalance(){
      return `${this.selected_currency.name} ${this.currencyFormat(this.truncate(Number(this.selected_currency.amounts.available), this.selected_currency.parts_presicion),'custom', this.selected_currency.parts_presicion)}`;
    }
  },
  methods: {
    ...mapActions("nft_bid", ["goToStep", "setAmount", "setCheckout"]),
    trackEvent(){
      this.triggerGTMEvent(
        `nft-offer-flow-make-offer`, //event
        'UserActivity', //category
        'NftInvestment', //action
        `${this.$route.params.title_id}/${this.$route.params.nft_collection_name_id}` //label
      );
    },
    async setOffer(){
      this.trackEvent();
      this.setAmount(this.amountInput);
      //Create CHECKOUT e ir al Summary
      let jsonCheckout = {
        currency: this.selected_currency.name,
        amount: this.amountInput,
        project_id: this.project.id
      };
      await this.setCheckout(jsonCheckout);
      this.$router.push(`/nft/${this.$route.params.nft_collection_name_id}/${this.$route.params.title_id}/offer/confirm`);
    }
  },
  watch: {
    step(to, from){
      if(to == 'amount' && from == 'currency'){
        this.amountInput = 0;
        this.setAmount(null);
      }
    }
  },
  mounted() {
    let that = this;
    document.getElementById('amount').addEventListener("keyup", function(event){
      if(event.keyCode == 13){
        if(that.enableOfferButton){
          that.setOffer();
        }
      }
    });

    //disable wheel on input
    document.addEventListener("wheel", function(event){
      if(document.activeElement.id === "amount"){
        document.activeElement.blur();
      }
    });
  },
  beforeMount() {
  }
};
</script>

<style scoped>
  .overline-2 {
    font-size: 0.725rem !important;
  }

  .currencyAmountWidth {
    width: 100%;
    max-width: 425px;
  }

  .amount_input {
    width: 100%;
    position: relative;
    top:4px;
  }

  .availableWidth {
    width: 100%;
    max-width: 425px;
  }

  ::v-deep .v-card__text {
    height:254px;
  }

  .mw230 {
    min-width:230px;
  }

</style>