<i18n>
{
  "es": {
    "no_enaugh_balance": "No tienes suficiente dinero para ofertar."
  },
  "es-AR": {
    "no_enaugh_balance": "No tenés suficiente dinero para ofertar."
  },
  "en": {
    "no_enaugh_balance": "No tienes suficiente dinero para ofertar."
  }
}
</i18n>
<template>
  <v-btn @click="selectCurrency()" :dark="!item.enabled" class="ma-0 mr-2 mb-2 rounded-borders justifyLeft py-5" :class="widthClass+disabledClass"  color="white">

    <v-tooltip top v-if="!item.enabled">
      <template v-slot:activator="{on}">
        <div class="disabledBlock" v-on="on"></div>
      </template>
      <span>{{$t('no_enaugh_balance')}}</span>
    </v-tooltip>

    <v-avatar class="mr-3" size="26">
      <v-img :src="item.logoUrl" :alt="item.name" />
    </v-avatar>
    <div class="d-flex flex-column align-start">
      <span class="caption-2 black--text">{{number_format(item.amounts.available)}}</span>
      <span class="caption-2" :class="{'grey--text lighten-1': item.enabled, 'black--text': !item.enabled}">{{item.name}}</span>
    </div>
  </v-btn>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  components: {},
  props: ['item'],
  data() {
    return {
    };
  },
  computed: {
    widthClass(){
      if(this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl) return 'btnCurrencyMaxWidth';
      if(this.$vuetify.breakpoint.md) return 'btnCurrencyMaxWidth-md';
      if(this.$vuetify.breakpoint.xs) return 'btnCurrencyMaxWidth-xs';
      if(this.$vuetify.breakpoint.sm) return 'btnCurrencyMaxWidth-sm';
    },
    disabledClass(){
      return (!this.item.enabled) ? ' disabledBtn' : '';
    }
  },
  methods: {
    selectCurrency(){
      if (this.item.enabled) this.$emit("clicked", this.item);
    }
  },
  created() {},
};
</script>
<style scoped>
  .v-btn {
    height: 45px !important;
  }

  .btnCurrencyMaxWidth {
    min-width: calc(25% - 8px) !important;
    max-width: calc(25% - 8px) !important;
    margin-bottom: 8px !important;
  }

  .btnCurrencyMaxWidth-xs {
    min-width: 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .btnCurrencyMaxWidth-sm {
    min-width: calc(33.3% - 8px) !important;
    max-width: calc(33.3% - 8px) !important;
    margin-bottom: 8px !important;
  }

  .btnCurrencyMaxWidth-md {
    min-width: 25% !important;
    max-width: 230px !important;
    margin-bottom: 8px !important;
  }

  .theme--dark.v-btn {
    position: relative;
  }

  .disabledBlock {
    /* width: 100%;
    height: 100%;
    background-color: rgba(184, 184, 184, 0.7);
    position: absolute;
    top:0;
    left:0;
    z-index: 1; */

    width: calc(100% + 32px);
    height: calc(100% + 13px);
    background-color: rgba(184, 184, 184, 0.7);
    position: absolute;
    top: -7px;
    left: -16px;
    z-index: 1;
    border-radius: 4px;
  }

  .disabledBtn {
    background-color: rgba(184, 184, 184, 1) !important;
    cursor: default !important;
  }

</style>
