<i18n>
  {
    "es": {
      "question": "¿En qué activo quieres ofertar?",
      "user_ss_balance": "Utilizar saldo de tu cuenta SeSocio en:",
      "no_balance": "No tienes saldo en tu cuenta para ofertar.",
      "deposit": "Cargar saldo"
    },
    "es-AR": {
      "question": "¿En qué activo querés ofertar?",
      "user_ss_balance": "Utilizar saldo de tu cuenta SeSocio en:",
      "no_balance": "No tenés saldo en tu cuenta para ofertar.",
      "deposit": "Cargar saldo"
    },
    "en": {
      "question": "¿En qué activo quieres ofertar?",
      "user_ss_balance": "Utilizar saldo de tu cuenta SeSocio en:",
      "no_balance": "No tienes saldo en tu cuenta para ofertar.",
      "deposit": "Cargar saldo"
    }
  }
</i18n>

<template>
  <v-card-text class="px-8">
    <template v-if="loading_currencies">
      <div class="d-flex justify-center align-center white--text">
        <v-progress-circular size="32" color="dianthus-primary" indeterminate></v-progress-circular>
      </div>
    </template>
    <template v-else>
      <template v-if="emptyCurrencies">
        <div class="py-8 text-center d-flex justify-center flex-column">
          <span class="subtitle-1 white--text">
            {{$t('no_balance')}}
          </span>
          <div class="text-center">
            <v-btn class="mt-8 depositBtn" to="/deposit" color="primary" large>{{$t('deposit')}}</v-btn>
          </div>
        </div>
      </template>
      <template v-else>
        <v-row no-gutters class="mb-8 mt-3">
          <span class="subtitle-1 white--text">
            {{$t('question')}}
          </span>
        </v-row>
        <v-row no-gutters class="d-flex flex-column">
          <span class="mb-2 overline-2 white--text">
            {{$t('user_ss_balance')}}
          </span>
          <div>
            <template v-for="c in currenciesParsed">
              <CurrencyButton @clicked="selectCurrency" :item="c" />
            </template>
          </div>
        </v-row>
        <template v-if="!hasBalance">
          <div class="py-8 text-center d-flex justify-center flex-column">
          <span class="subtitle-1 white--text">
            {{$t('no_balance')}}
          </span>
          <div class="text-center">
            <v-btn class="mt-8 depositBtn" to="/deposit" color="primary" large>
            {{$t('deposit')}}
            </v-btn>
          </div>
        </div>
        </template>
      </template>
    </template>
  </v-card-text>
</template>

<script>
import { mapActions, mapState } from "vuex";
import CurrencyButton from './CurrencyButton';

export default {
  components: {CurrencyButton},
  data() {
    return {
    };
  },
  computed: {
    ...mapState("nft_bid", ["project", "currencies", "loading_currencies", "selected_currency"]),
    currenciesParsed() {
      let cp = Object.assign({}, this.currencies.options);
      if(cp.hasOwnProperty('fiat')) {
        delete cp.fiat;
      }
      if(cp.hasOwnProperty('cryptos')) {
        cp.stable_coins = cp.stable_coins.concat(cp.cryptos);
        delete cp.cryptos;
      }
      if(cp.hasOwnProperty('stable_coins')) {
        cp = cp.stable_coins;
      }
      return cp;
    },
    emptyCurrencies(){
      if(this.currencies.options &&
        (Object.keys(this.currencies.options.stable_coins).length == 0) &&
        (Object.keys(this.currencies.options.cryptos).length == 0))
        {
          return true;
        } else {
          return false;
        }
      },
      hasBalance(){
        let has = false;
        this.currenciesParsed.forEach(element => {
          if(element.enabled){
            has = true;
          }
        });
        return has;
      }
  },
  methods: {
    ...mapActions("nft_bid", ["getCurrencies", "goToStep", "setSelectedCurrency", "setAmount"]),
    trackEvent(){
      this.triggerGTMEvent(
        `nft-offer-flow-currency-selected`, //event
        'UserActivity', //category
        'NftInvestment', //action
        `${this.$route.params.title_id}/${this.$route.params.nft_collection_name_id}` //label
      );
    },
    selectCurrency(currency){
      this.trackEvent();
      this.setSelectedCurrency(currency);
      this.goToStep('amount');
    }
  },
  async beforeMount() {
    await this.getCurrencies(this.project.id);
  }
};
</script>

<style scoped>
  .overline-2 {
    font-size: 0.725rem !important;
  }

  .depositBtn {
    min-width: 230px !important;
    max-width: 230px !important;
  }
</style>
