<i18n>
  {
    "es": {
      "title": "Uy que mala suerte...",
      "summary": "Superaron tu oferta, no te preocupes. ¡Intentalo de nuevo!",
      "error": "El monto ofertado es inferior al mínimo. Por favor inténtalo nuevamente.",
      "new_offer": "Ofertar nuevamente",
      "view_more": "Ver más NFTs"
    },
    "es-AR": {
      "title": "Uy que mala suerte...",
      "summary": "Superaron tu oferta, no te preocupes. ¡Intentalo de nuevo!",
      "error": "El monto ofertado es inferior al mínimo. Por favor intentalo nuevamente.",
      "new_offer": "Ofertar nuevamente",
      "view_more": "Ver más NFTs"
    },
    "en": {
      "title": "Uy que mala suerte...",
      "summary": "Superaron tu oferta, no te preocupes. ¡Intentalo de nuevo!",
      "error": "La cotización ha variado y el monto ingresado no alcanza el mínimo. Por favor inténtalo nuevamente.",
      "new_offer": "Ofertar nuevamente",
      "view_more": "Ver más NFTs"
    }
  }
</i18n>

<template>
  <div class="px-4 py-8" :class="{'contentCongrats': !isXsSm()}">
    <div class="d-flex flex-column" :class="alignClass">
      <h1 class="dianthus-primary--text" :class="titleClass">
        {{$t('title')}}
      </h1>
      <span class="subtitle-1 mt-2">
        {{$t(`${text}`)}}
      </span>
      <div class="col text-center mt-5">
        <v-img class="mx-auto" max-width="430px" src="../../../assets/images/outbided.png" />
      </div>
    </div>

    <div class="pt-0 pb-5 d-flex justify-center" :class="actionsFlexClass">
      <v-col class="mw230 text-right pa-2" xs="12" sm="3">
        <v-btn block color="#41FFAF" :to="`/nft/${this.$route.params.nft_collection_name_id}/${this.$route.params.title_id}/offer`" large>{{$t('new_offer')}}</v-btn>
      </v-col>
      <v-col class="mw230 pa-2" xs="12" sm="3">
        <v-btn block dark color="#41FFAF" to="/nft" large outlined>{{$t('view_more')}}</v-btn>
      </v-col>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  components: {},
  props: ['type'],
  data() {
    return {
    };
  },
  computed: {
    titleClass(){
      if(this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl || this.$vuetify.breakpoint.md) return 'display-2';
      if(this.$vuetify.breakpoint.xs || this.$vuetify.breakpoint.sm) return 'headline';
    },
    alignClass(){
      if(this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl || this.$vuetify.breakpoint.md) return 'text-center';
      if(this.$vuetify.breakpoint.xs || this.$vuetify.breakpoint.sm) return 'text-left';
    },
    columnPositionClass(){
      if(this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl || this.$vuetify.breakpoint.md) return 'flex-column';
      if(this.$vuetify.breakpoint.xs || this.$vuetify.breakpoint.sm) return 'flex-column-reverse';
    },
    text(){
      return (this.type == 'error') ? 'error' : 'summary';
    },
    actionsFlexClass(){
      if(this.$vuetify.breakpoint.xs) return 'flex-column';
      if(!this.$vuetify.breakpoint.xs) return 'flex-row';
    },
  },
  methods: {
    ...mapActions("nft_bid", ["cleanCheckout"]),
  },
  destroyed(){
    this.cleanCheckout();
  }
};
</script>

<style scoped>
  .contentCongrats {
    margin: 70px 0;
  }
</style>
