<i18n>
  {
    "es": {
      "wait":"Aguarda unos segundos, la operación está siendo procesada."
    },
    "es-AR": {
      "wait":"Aguardá unos segundos, la operación está siendo procesada."
    },
    "en": {
      "wait":"Aguarda unos segundos, la operación está siendo procesada."
    }
  }
</i18n>

<template>
  <Wrapper mainContainerClass="bg-dark">
    <template slot="content">

      <div class="px-4 py-8" :class="{'contentCongrats': !isXsSm()}">
        <div class="d-flex flex-column" :class="alignClass">
          <h1 class="dianthus-primary--text" :class="titleClass">
            {{project.title}}
          </h1>
          <div class="d-flex" :class="columnPositionClass">
            <div class="col text-center" :class="{'mt-5': !isXsSm(), 'mt-8': isXsSm()}">

              <div class="loaderBox mx-auto">
                <div class="load_bar" :style="`width:calc(${loading}% - 33.5px);`">
                </div>
                <div class="load_icon">
                  <img src="../../../assets/images/loading_icon.svg" />
                </div>
              </div>

            </div>
            <span class="subtitle-1 mt-2">
              {{$t('wait')}}
            </span>
          </div>
        </div>
      </div>

    </template>
  </Wrapper>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  components: {},
  data() {
    return {
      loading: 15,
      interval: false,
      counter: 250
    };
  },
  computed: {
    ...mapState("nft_bid", ["project"]),
    titleClass(){
      if(this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl || this.$vuetify.breakpoint.md) return 'display-2';
      if(this.$vuetify.breakpoint.xs || this.$vuetify.breakpoint.sm) return 'headline';
    },
    alignClass(){
      if(this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl || this.$vuetify.breakpoint.md) return 'text-center';
      if(this.$vuetify.breakpoint.xs || this.$vuetify.breakpoint.sm) return 'text-left';
    },
    columnPositionClass(){
      if(this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl || this.$vuetify.breakpoint.md) return 'flex-column';
      if(this.$vuetify.breakpoint.xs || this.$vuetify.breakpoint.sm) return 'flex-column-reverse';
    }
  },
  methods: {
    async increaseLoader(){
      if(this.interval && this.counter > 0){
        this.counter--;
        this.loading+= 0.40;
        if(this.loading == 100 || this.counter == 0){
          this.interval = false;
        } else {
          var self = this;
          setTimeout(function(){
            self.increaseLoader();
          },100);
        }
      }
      if(this.counter==0){
        this.interval = false;
      }
    },
  },
  created() {
    this.interval = true;
    this.increaseLoader();
  },
};
</script>

<style scoped>
  .contentCongrats {
    margin: 70px 0;
  }

  .loaderBox {
    width: 310px;
    height: 65px;
    border: 4px solid #999;
    position:relative;
    padding:4px;
    text-align: left;
    box-shadow: 0px 0px 7px 0px #0ff;
    overflow: hidden;
  }

  .loaderBox .load_bar {
    background: rgb(147, 71, 221);
    background: linear-gradient(90deg, rgb(147, 71, 221) 35%,rgb(55, 254, 171) 100%);
    height: 100%;
    display: inline-block;
  }
  
  .loaderBox .load_icon {
    width: 33.5px;
    height:100%;
    display: inline-block;
    position:relative;
  }

  .loaderBox .load_icon img{
    width: 67px;
    height:49px;
    position: absolute;
    left: -33.5px;
  }
</style>
