<i18n src="../locales/detail.json"></i18n>
<template>
  <div v-if="!loading">
    <Breadcrumbs
      backEvent="goBack"
      :back="true"
      title=""
      @goBack="goBack()"
      dark
    ></Breadcrumbs>
    <Wrapper mainContainerClass="bgNftBlack">
      <template slot="content">
        <v-container class="mt-0 pt-0 px-4 px-md-0 mb-5">
          <v-row class="my-3">
            <!-- Tags -->
            <v-col cols="12">
              <v-chip class="px-10 font-weight-bold" color="secondary" small>
                {{ categoryName }}
              </v-chip>
            </v-col>
            <!-- Title and Share icon -->
            <v-col cols="12" class="d-flex align-center pt-0">
              <h1 class="display-1 font-weight-semibold poppins">
                {{ project.title }}
              </h1>
              <v-btn
                color="grey"
                class="ml-3"
                fab
                small
                text
                @click.stop="dialogShareNft = true"
              >
                <v-icon>mdi-share-variant</v-icon>
              </v-btn>
              <v-divider
                v-if="!isXsSm()"
                class="title-divider mx-2"
                dark
                vertical
              ></v-divider>
              <!-- Creator/Collection/Author -->
              <template v-if="!isXsSm()">
                <template v-for="(item, key) in avatars">
                  <div
                    v-if="item.show"
                    :key="key"
                    class="d-flex align-center ml-3"
                  >
                    <v-avatar class="mr-2" size="36">
                      <v-img
                        height="36"
                        width="36"
                        :src="item.logoUrl"
                        :alt="item.name"
                        contain
                      >
                        <template v-slot:placeholder>
                          <v-row
                            class="fill-height ma-0"
                            align="center"
                            justify="center"
                          >
                            <v-progress-circular
                              indeterminate
                              color="primary"
                            ></v-progress-circular>
                          </v-row>
                        </template>
                      </v-img>
                    </v-avatar>
                    <div class="line-height-12">
                      <p class="body-1 font-weight-bold mb-0">
                        {{ item.title }}
                      </p>
                      <p class="caption-2 mb-0">{{ item.name }}</p>
                    </div>
                  </div>
                </template>
              </template>
            </v-col>
            <!-- Summary -->
            <v-col cols="12">
              <p class="title-3 font-weight-regular mb-0">
                {{ clearHtmlTags(project.summary) }}
              </p>
            </v-col>
          </v-row>

          <v-row>
            <!-- Image/Video/logo -->
            <v-col cols="12" md="8" class="pb-md-0 mb-3">
              <v-hover v-slot="{ hover }">
                <v-img
                  :src="nftFilePreview"
                  max-height="395px"
                  :min-height="!isXsSm() ? '395px' : 'auto'"
                >
                  <template v-slot:placeholder>
                    <v-row
                      class="fill-height ma-0"
                      align="center"
                      justify="center"
                    >
                      <v-progress-circular
                        indeterminate
                        color="primary"
                      ></v-progress-circular>
                    </v-row>
                  </template>
                  <v-expand-x-transition>
                    <v-card
                      v-if="hover"
                      height="100%"
                      class="d-flex align-center justify-center mx-auto"
                      color="rgba(0,0,0,0.4)"
                      @click="imgZoom()"
                      dark
                    >
                      <v-icon class="mr-2">mdi-eye</v-icon>
                      Preview
                    </v-card>
                  </v-expand-x-transition>
                </v-img>
              </v-hover>
            </v-col>
            <v-col
              v-if="isXsSm()"
              cols="12"
              class="d-flex flex-row justify-space-around mb-3"
            >
              <template v-for="(item, key) in avatars">
                <div
                  v-if="item.show"
                  :key="key"
                  class="d-flex flex-column align-center justify-center mx-2"
                >
                  <p class="body-1 font-weight-bold mb-0">{{ item.title }}</p>
                  <v-avatar size="36" class="my-1">
                    <v-img
                      height="36"
                      width="36"
                      :src="item.logoUrl"
                      :alt="item.name"
                      contain
                    >
                      <template v-slot:placeholder>
                        <v-row
                          class="fill-height ma-0"
                          align="center"
                          justify="center"
                        >
                          <v-progress-circular
                            indeterminate
                            color="primary"
                          ></v-progress-circular>
                        </v-row>
                      </template>
                    </v-img>
                  </v-avatar>
                  <p class="caption-2 mb-0 text-center">{{ item.name }}</p>
                </div>
              </template>
            </v-col>
            <!-- Detail card -->
            <v-col cols="12" md="4">
              <v-card color="#20252a" max-height="395px" height="100%" dark>
                <div class="pa-4 pb-1" style="height: 64px">
                  <div class="d-flex align-center justify-space-between">
                    <div class="title-3 font-weight-semibold poppins">
                      {{ project.title }}
                    </div>
                    <StarVote
                      :item="project"
                      :moduleName="'nft_project_detail'"
                    />
                  </div>
                  <NftCountdown
                    v-if="isCountdown"
                    :enddate="project.enddate"
                    :is-lite="true"
                  />
                </div>

                <v-card-text class="pb-0" style="height: 199px">
                  <div class="scroll-bar" style="height: 100%">
                    <div>
                      <p class="body-2 mb-0">
                        <template v-if="project.extraSummary != null">
                          {{ clearHtmlTags(project.extraSummary) }}
                        </template>
                        <template v-else> {{ $t("noExtraData") }} </template>
                      </p>
                    </div>
                  </div>
                </v-card-text>

                <div class="pa-4" style="height: 132px">
                  <div>
                    <p class="body-2 mb-0">{{ $t("minToOffer") }}</p>
                    <p class="subtitle-1 font-weight-bold">
                      {{showPrice}}
                      {{ project.currency }}
                    </p>
                  </div>
                  <v-row>
                    <v-col v-if="hasToken">
                      <v-btn
                        class="title-3 font-weight-black"
                        color="#41FFAF"
                        depressed
                        outlined
                        block
                        :href="`https://bscscan.com/token/${project.token}`"
                      >
                        {{ $t("tokenButton") }}
                      </v-btn>
                    </v-col>
                    <v-col v-if="project.investable">
                      <v-btn
                        class="title-3 font-weight-black"
                        color="#41FFAF"
                        depressed
                        light
                        block
                        :to="offerUrl"
                      >
                        {{ $t("offerButton") }}
                      </v-btn>
                    </v-col>
                    <v-col v-if="!project.investable && isFunded">
                      <v-btn
                        class="title-3 font-weight-black"
                        color="#41FFAF"
                        depressed
                        light
                        block
                        :to="offerUrl"
                        @click="trackEventToTrading(project)"
                      >
                        {{ $t("offerButtonP2p") }}
                      </v-btn>
                    </v-col>
                  </v-row>
                </div>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </template>
    </Wrapper>
    <!-- Share Dialog -->
    <ShareNft
      v-model="dialogShareNft"
      :projectUrl="projectUrl"
      :projectTitle="project.title"
    />
  </div>
  <v-card v-else flat color="#141416" height="500px">
    <div class="d-flex align-center justify-center" style="height: 100%">
      <v-progress-circular
        :size="32"
        color="primary"
        indeterminate
      ></v-progress-circular>
    </div>
  </v-card>
</template>

<script>
import { mapActions, mapState } from "vuex";
import Wrapper from "../../core/Wrapper.vue";
import Breadcrumbs from "@/modules/core/components/Breadcrumbs";

import { Spotlight } from "../spotlightWrapper";
import ShareNft from "./ShareNft.vue";
import NftCountdown from "../../nft/components/NftCountdown.vue";
import moment from "moment";
import StarVote from "../../nft/components/StarVote.vue";

export default {
  components: {
    Wrapper,
    Breadcrumbs,
    ShareNft,
    NftCountdown,
    StarVote,
  },
  head: {
    title: function () {
      return {
        inner: this.meta_title,
      }
    },
    // Meta tags
    meta() {
      let metas = [
          {
              name: "application-name",
              content: "SeSocio",
              id: "appnameid"
          },
          {
              name: "description",
              content: this.meta_description,
              id: "desc" // id to replace intead of create element
          },
          // Twitter
          {
              name: "twitter:title",
              content: this.meta_title,
              id: "twtitle"
          },
          // with shorthand
          {
              n: "twitter:description",
              c: this.meta_description,
              id: "twdesc"
          },
          {
            n: "twitter:site",
            c: "@sesociocom",
            id: "twsite"
          },
          {
            n: "twitter:creator",
            c: "@sesociocom",
            id: "twcreator"
          },
          {
            n: "twitter:card",
            c: "summary_large_image",
            id: "twcard"
          },
          {
            n: "twitter:image",
            c: this.nftFilePreview,
            id: "twimage"
          },
          {
            n: "twitter:domain",
            c: "sesocio.com",
            id: "twdomain"
          },
          {
            n: "twitter:url",
            c: process.env.VUE_APP_BASE_URL+this.$router.currentRoute.path.substr(1),
            id: "twurl"
          },
          // Google+ / Schema.org
          {
              itemprop: "name",
              content: this.meta_title,
              id: "gname"
          },
          {
              itemprop: "description",
              content: this.meta_description,
              id: "gdesc"
          },
          // Facebook / Open Graph
          {
              property: "fb:app_id",
              content: "205875806419296",
              id: "fbid"
          },
          {
              property: "og:title",
              content: this.meta_title,
              id: "ogtitle"
          },
          // with shorthand
          {
              p: 'og:image',
              c: this.nftFilePreview,
              id: "ogimage"
          },
          {
              p: 'og:url',
              c: process.env.VUE_APP_BASE_URL+this.$router.currentRoute.path.substr(1),
              id: "ogurl"
          },
          {
              p: "og:site_name",
              c: "SeSocio",
              id: "ogsitename"
          },
          {
              p: "og:description",
              c: this.meta_description,
              id: "ogdesc"
          },
          {
              p: "og:type",
              c: "article",
              id: "ogtype"
          },
        ];
      return metas;
    },
  },
  data() {
    return {
      dialogShareNft: false,
      now: new Date().toISOString().replace(/T/, " ").replace(/\..+/, ""),
    };
  },
  computed: {
    ...mapState("nft_project_detail", ["project", "loading"]),
    ...mapState("core", ["country"]),
    avatars() {
      return [
        {
          title: this.$t("author"),
          name: this.author?.name,
          logoUrl: this.author?.photosUrl?.large,
          show: true,
        },
        {
          title: this.$t("collection"),
          name: this.collection?.name,
          logoUrl: this.collection?.logoUrl?.large,
          show: true,
        },
        {
          title: this.$t("owner"),
          name: this.owner?.alias,
          logoUrl: this.owner?.photo,
          show: this.owner,
        },
      ];
    },
    projectUrl() {
      return `${encodeURI(process.env.VUE_APP_BASE_URL)}nft/${
        this.collection?.name
      }/${this.project?.titleId}`;
    },
    offerUrl() {
      let route = this.$route;
      let title_id = route.params.title_id;
      let nft_collection_name_id = route.params.nft_collection_name_id;
      if (this.isFunded) return `/projects/${title_id}/trading_buys/new`;
      return `/nft/${nft_collection_name_id}/${title_id}/offer`;
    },
    isFunded() {
      return (
        this.project.status == "funded" || this.project.status == "confirmed"
      );
    },
    isCountdown() {
      let endNft = moment
        .duration(moment(this.project.enddate).diff(this.now))
        .asDays();
      if (endNft <= 7 && endNft > 0) {
        return true;
      }
      return false;
    },
    categoryName() {
      return this.project?.category?.name || "Sin categoría";
    },
    collection() {
      return this.project?.nftCollection;
    },
    author() {
      return this.collection?.nftAuthor;
    },
    owner() {
      return this.project?.nftOwner;
    },
    hasToken() {
      return this.project?.token && this.project?.token != null;
    },
    nftFile() {
      if (
        this.project &&
        this.project?.nftFiles &&
        this.project.nftFiles?.nft
      ) {
        return this.project.nftFiles.nft.url;
      } else if (this.project && this.project.imagesUrl) {
        return this.project.imagesUrl.large || this.project.imagesUrl.medium;
      }
    },
    nftFileType() {
      let media = "image";
      if (
        this.project &&
        this.project?.nftFiles &&
        this.project.nftFiles?.nft
      ) {
        let type = this.project.nftFiles.nft.type;
        if (type != null) {
          media = type.split("/")[0];
        }
      }
      return media;
    },
    nftFilePreview() {
      if (
        this.project &&
        this.project?.nftFiles &&
        this.project.nftFiles?.nft_preview
      ) {
        return this.project.nftFiles.nft_preview.url;
      } else if (this.project && this.project.imagesUrl) {
        return this.project.imagesUrl.large || this.project.imagesUrl.medium;
      }
    },
    meta_title(){
      return this.$t('meta_title', {nft: this.project.title, artist: this.author?.name});
    },
    meta_description(){
      return this.$t('meta_description');
    },
    showPrice(){
      if(!this.project.investable && this.isFunded) {
        return this.number_format(this.project.partValueOriginal);
      } else {
        return this.number_format(this.project.partValuePlusStep);
      }
    }
  },
  methods: {
    ...mapActions("nft_project_detail", ["getProject", "cleanLoadedData"]),
    ...mapActions("nft", ["sendVote", "removeVote"]),
    async loadData() {
      const route = this.$route;
      let params = {
        title_id: route.params.title_id,
        nft_collection_name_id: route.params.nft_collection_name_id,
        country: this.country,
      };

      if (route.query.original) {
        params.original = route.query.original;
      }

      await this.getProject(params);
    },
    goBack() {
      window.history.back();
    },
    imgZoom() {
      let config = [
        {
          src: this.nftFile,
          media: this.nftFileType,
        },
      ];
      if (this.nftFileType == "video") {
        config = [
          {
            src: this.nftFile,
            media: this.nftFileType,
            "src-mp4": this.nftFile,
            poster: this.nftFilePreview,
            autoplay: true,
            preload: true,
            controls: true,
            inline: false,
          },
        ];
      }

      Spotlight.show(config, {
        autohide: false,
        control: ["autofit", "zoom", "close"],
      });
    },
    async send_vote() {
      this.loading = true;
      await this.sendVote(this.item)
        .then((response) => {})
        .catch((error) => {});
      this.loading = false;
    },
    async remove_vote() {
      this.loading = true;
      await this.removeVote(this.item)
        .then((response) => {})
        .catch((error) => {});
      this.loading = false;
    },
    user_vote() {
      if (!this.loading) {
        if (this.project.currentUserLike) {
          this.remove_vote();
        } else {
          this.send_vote();
        }
      }
    },
    trackEventToTrading(project){
      this.triggerGTMEvent(
        `to-nft-buy-trading`, //event
        'UserActivity', //category
        'NftInvestment', //action
        `${this.$route.params.title_id}/${this.$route.params.nft_collection_name_id}` //label
      );
    }
  },
  watch: {
    async $route() {
      await this.loadData();
      this.$emit('updateHead');
    },
  },
  async beforeMount() {
    await this.loadData();
    this.$emit('updateHead');
  },
  destroyed(){
    this.cleanLoadedData();
  }
};
</script>

<style lang="scss" scoped>
.v-avatar {
  border-radius: 50% !important;
}
.title-divider.v-divider--vertical {
  align-self: center;
  border-color: #ffffff;
  border-width: 0 2px 0 0;
  min-height: 10%;
  height: 70%;
}
.price-divider.v-divider--vertical {
  align-self: center;
  border-width: 0 2px 0 0;
  height: 20px;
}
.line-height-12 {
  .body-1,
  .caption-2 {
    line-height: 12px !important;
  }
}
.v-card--reveal {
  top: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
  border-bottom: solid 1px #707070;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: #20252a;
}
.scroll-bar {
  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

// Videos
.video-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;

  iframe,
  object,
  embed {
    height: 395px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
</style>

<style>
/* Lo pongo fuera del scope para que funcione */
#spotlight {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
</style>