<i18n src="../locales/detail.json"></i18n>
<template>
  <Wrapper mainContainerClass="bgNftBlack">
    <template slot="content">
      <v-container class="py-5 px-4 px-md-0">
        <v-row class="mb-3">
          <!-- Tags -->
          <v-col cols="12" class="text-center mb-5">
            <h4 class="headline">{{ $t("recommendedTitle") }}</h4>
          </v-col>
          <v-col cols="12" :class="{ 'pr-0': isXsSm() }">
            <template v-if="nfts.length > 0">
              <carousel
                :nav="false"
                :dots="false"
                :autoWidth="true"
                :margin="10"
                rewind
                autoplay
                autoplayHoverPause
                class="main-carousel"
              >
                <template
                  v-if="!isXsSm() && nfts.length > 4"
                  slot="prev"
                  class="prev-button"
                >
                  <span class="prev">
                    <v-btn text icon>
                      <v-icon xLarge color="white"> mdi-chevron-left </v-icon>
                    </v-btn>
                  </span>
                </template>
                <template
                  v-if="!isXsSm() && nfts.length > 4"
                  slot="next"
                >
                  <span class="next">
                    <v-btn text icon>
                      <v-icon xLarge color="white"> mdi-chevron-right </v-icon>
                    </v-btn>
                  </span>
                </template>
                <div
                  v-for="(project, index) in nfts"
                  :key="index"
                >
                  <Project :item="project" moduleName="nft_project_detail" fixedWidth />
                </div>
              </carousel>
            </template>
          </v-col>
        </v-row>
      </v-container>
    </template>
  </Wrapper>
</template>

<script>
import { mapActions, mapState } from "vuex";
import Wrapper from "../../core/Wrapper.vue";
import carousel from "vue-owl-carousel";
import Project from "../../nft/components/Project.vue";

export default {
  components: {
    Wrapper,
    carousel,
    Project,
  },
  computed: {
    ...mapState("core", ["country"]),
    ...mapState("nft_project_detail", ["recommendedProjects", "loading"]),
    nfts() {
      const now = new Date();
      // Filtra si el projecto es distinto al actual y si el atributo
      // startDate es superior a la fecha de hoy
      return this.recommendedProjects?.filter(
        (nft) => 
          nft.titleId != this.$route.params.title_id &&
          this.$moment(nft.startDate.replace(/UTC/, "").replace(/\..+/, ""), "YYYY-MM-DD").unix() < this.$moment().unix()
      );
    },
  },
  methods: {
    ...mapActions("nft_project_detail", ["getRecommendedProjects"]),
  },
  watch: {
    async $route() {
      await this.getRecommendedProjects(this.country)
    }
  },
  async beforeMount() {
    await this.getRecommendedProjects(this.country);
  },
};
</script>

<style lang="scss" scoped>
// Carousel
::v-deep .owl-carousel {
  & .owl-stage-outer {
    padding: 15px 0;
  }
}

// Por alguna razón el atributo loop del carousel
// oculta el botón prev. De esta forma se muestra
::v-deep [id^="carousel_prev_"] {
  display: flex !important;
}

.main-carousel {
  position: relative;

  & .next {
    position: absolute;
    right: -5%;
    top: calc(50% - 28px);
  }
  & .prev {
    position: absolute;
    top: calc(50% - 28px);
    left: -5%;
  }
}
</style>
