<i18n>
{
  "es": {
    "shareTitle": "Comparte este NFT",
    "dialogShareTitle": "Enlace copiado al portapapeles",
    "dialogShareSummary": "¡Compártelo con tus amigos!"
  },
  "es-AR": {
    "shareTitle": "Compartí este NFT",
    "dialogShareTitle": "Enlace copiado al portapapeles",
    "dialogShareSummary": "¡Compartilo con tus amigos!"
  },
  "en": {
    "shareTitle": "Share this NFT",
    "dialogShareTitle": "Enlace copiado al portapapeles",
    "dialogShareSummary": "¡Compártelo con tus amigos!"
  }
}
</i18n>
<template>
  <v-dialog
    v-model="show"
    :width="!isXsSm() ? '550' : '100%'"
    :transition="isXsSm() ? 'dialog-bottom-transition' : ''"
    :content-class="isXsSm() ? 'dialog-mobile' : ''"
  >
    <v-card color="#545454" dark>
      <v-card-title>
        <span class="font-weight-bold">{{ $t("shareTitle") }}</span>
        <v-spacer></v-spacer>
        <v-btn icon class="mr-0" @click.stop="show = false">
          <v-icon color="black">mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pa-5 pb-8">
        <v-row>
          <v-col
            cols="12"
            md="6"
            class="d-flex align-center justify-space-around pr-md-0"
          >
            <div>
              <v-btn color="white" fab elevation="1" @click="whatsapp">
                <v-icon color="#606060">mdi-whatsapp</v-icon>
              </v-btn>
            </div>
            <div>
              <v-btn color="white" fab elevation="1" @click="telegram">
                <v-icon color="#606060">mdi-telegram</v-icon>
              </v-btn>
            </div>
            <div>
              <v-btn color="white" fab elevation="1" @click="facebook">
                <v-icon color="#606060">mdi-facebook</v-icon>
              </v-btn>
            </div>
          </v-col>
          <v-col
            cols="12"
            md="6"
            class="d-flex align-center justify-space-around pl-md-0"
          >
            <div>
              <v-btn color="white" fab elevation="1" @click="twitter">
                <v-icon color="#606060">mdi-twitter</v-icon>
              </v-btn>
            </div>
            <div>
              <v-btn color="white" fab elevation="1" @click="linkedIn">
                <v-icon color="#606060">mdi-linkedin</v-icon>
              </v-btn>
            </div>
            <div>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="white"
                    fab
                    elevation="1"
                    @click="general()"
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon color="#606060">mdi-link-variant</v-icon>
                  </v-btn>
                </template>
                <span>Copiar link</span>
              </v-tooltip>
            </div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions } from "vuex";

export default {
  props: {
    projectUrl: String,
    value: Boolean,
    projectTitle: String,
  },
  computed: {
    show: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
  methods: {
    ...mapActions("snackbar", ["showSnackbar"]),
    facebook() {
      const link = `https://www.facebook.com/sharer/sharer.php?u=${this.projectUrl}`;
      open(
        link,
        "facebook",
        "left=20,top=20,width=500,height=500,toolbar=1,resizable=0"
      );
      this.show = false;
    },
    linkedIn() {
      const link = `https://www.linkedin.com/shareArticle?mini=true&url=${this.projectUrl}`;
      open(
        link,
        "linkedin",
        "left=20,top=20,width=500,height=500,toolbar=1,resizable=0"
      );
      this.show = false;
    },
    twitter() {
      const link = `https://twitter.com/intent/tweet?url=${this.projectUrl}&text=${this.projectTitle}`;
      open(
        link,
        "twitter",
        "left=20,top=20,width=500,height=500,toolbar=1,resizable=0"
      );
      this.show = false;
    },
    telegram() {
      const link = `https://t.me/share/url?url=${this.projectUrl}&text=${this.projectTitle}`;
      open(
        link,
        "telegram",
        "left=20,top=20,width=500,height=500,toolbar=1,resizable=0"
      );
      this.show = false;
    },
    whatsapp() {
      open(`https://api.whatsapp.com/send?text=${this.projectUrl}`);
      this.show = false;
    },
    general() {
      this.copyClipboard();
      this.showSnackbar({
        type: "success",
        title: this.$t("dialogShareTitle"),
        message: this.$t("dialogShareSummary"),
      });
      this.show = false;
    },
    copyClipboard() {
      navigator.clipboard.writeText(window.location.href);
    }
  },
};
</script>

<style lang="scss" scoped>
::v-deep .dialog-mobile {
  align-self: flex-end;
  margin: 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
</style>