<i18n>
{
  "es": {
    "title": "¿Te gustaría ser dueño de una obra única y auténtica?",
    "comments": "Un Token no Fungible (NFT) es un activo digitál almacenado en tecnología blockchain. Son piezas únicas y poseen un certificado de autenticidad para ser coleccionado o comercializado.",
    "text-link": "Leer más",
    "btn-link": "Conocé más"
  },
  "en": {
    "title": "El primer Marketplace de NFT está en SeSocio",
    "comments": "Un Token no Fungible (NFT) es un activo digitál almacenado en tecnología blockchain. Son piezas únicas y poseen un certificado de autenticidad para ser coleccionado o comercializado.",
    "text-link": "Leer más",
    "btn-link": "Conocé más"
  }
}
</i18n>

<template>
  <Wrapper mainContainerClass="black">
    <template slot="content">
      <v-container class="mt-10 pt-15">
        <v-row>
          <v-col cols="12" md="6">
            <v-row>
              <v-col
                class="mr-12 poppins white--text font-weight-bold"
                style="font-size: 28px"
              >
                {{ $t("title") }}
              </v-col>
              <v-col v-if="!isXsSm()" cols="12" class="poppins white--text">
                <p class="mb-10">{{ $t("comments") }}</p>
                <RouterLink
                  class="subtitle-1 font-weight-black primary--text"
                  to="/articles/2021/08/02/nfts?sscool=crypto_guide"
                >
                  {{ $t("text-link") }}
                </RouterLink>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" md="6" class="d-flex justify-center pa-0 pa-md-3">
            <div class="mt-0 mt-md-n6">
              <v-img
                contain
                height="323px"
                width="auto"
                :src="require('../../../assets/images/nft_Info.png')"
                alt="Info"
              />
            </div>
          </v-col>
          <v-col v-if="isXsSm()" cols="12" class="d-flex justify-center px-0">
            <v-btn
              class="subtitle-1 font-weight-bold"
              :elevation="0"
              color="#4efeb1"
              target="_blank"
              large
              width="320px"
              :to="'/articles/2021/08/02/nfts?sscool=crypto_guide'"
            >
              <span>{{ $t("btn-link") }}</span>
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </template>
  </Wrapper>
</template>

<script>
import Wrapper from "../../core/Wrapper.vue";

export default {
  components: { Wrapper },
};
</script>
