<template>
  <div class="mt-5">
    <v-card
      class="mx-1 card-look"
      color="black"
      :to="projectLink"
      width="258"
      height="440"
      hover
    >
      <div class="elipse">
        <v-img src="../../../assets/images/Elipse.png" :height="58" :width="58">
          <div class="poppins mb-5 font-weight-bold text-num">
            {{ numberId }}
          </div>
        </v-img>
      </div>
      <v-img
        class="img-look"
        width="218"
        height="340"
        :src="nftFileType != 'video' ? item.imagesUrl.small : nftPreview"
        :alt="item.name"
      >
      </v-img>
    </v-card>
    <div style="width: 258px">
      <v-container class="px-0 pt-0">
        <v-row no-gutters class="mt-5 mx-2">
          <v-col cols="9">
            <span class="poppins white--text"> {{ item.name }} </span>
          </v-col>
          <v-col cols="3">
            <div class="d-flex align-center justify-end">
              <v-icon color="#41ffaf"> mdi-star </v-icon>
              <span class="poppins white--text ml-1 text-caption">
                {{ item.countLikes }}
              </span>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
export default {
  name: "CardVoted",
  props: {
    item: [],
    numberId: 0,
  },
  computed: {
    nftFileType() {
      let media = "image";
      if (
        this.item &&
        this.item?.nftFiles &&
        this.item.nftFiles?.nft &&
        this.item.nftFiles.nft.type
      ) {
        let type = this.item.nftFiles.nft.type;
        if (type != null) {
          media = type.split("/")[0];
        }
      }
      return media;
    },
    nftPreview() {
      if (this.item && this.item?.nftFiles && this.item.nftFiles?.nft_preview) {
        return this.item.nftFiles.nft_preview.url;
      } else if (this.item && this.item.imagesUrl) {
        return this.item.imagesUrl.small;
      }
    },
    isFunded() {
      return (
        this.item.projectStatusMessage == "funded" ||
        this.item.projectStatusMessage == "confirmed"
      );
    },
    projectLink() {
      if (this.isFunded)
        return `/nft/${this.item.nftCollection.nameId}/${this.item.titleId}?original=true`;
      return `/nft/${this.item.nftCollection.nameId}/${this.item.titleId}`;
    },
  },
};
</script>

<style scoped>
.card-look {
  border: 3px solid #1a342b !important;
  border-radius: 12px !important;
}
.card-look:hover {
  border: 2px solid #238740bd !important;
  box-shadow: 0px 1px 12px 3px rgb(57 102 70 / 74%);
}

.img-look {
  margin: 52px 18px 52px 18px;
  z-index: 1;
  border-radius: 12px;
}
.elipse {
  position: absolute;
  right: 22px;
  top: -30px;
}
.text-num {
  top: 5px;
  position: relative;
  text-align: center;
  font-size: 32px;
  vertical-align: middle;
}
</style>
