<i18n>
{
  "es": {
    "title": "Más votados",
    "subtitle": "Los NFTs más likeados por la comunidad."
  },
  "en": {
    "title": "Más votados",
    "subtitle": "Los NFTs más likeados por la comunidad."
  }
}
</i18n>
<template>
  <Wrapper mainContainerClass="black">
    <template slot="content" class="mt-15">
      <v-container class="px-4 px-md-0">
        <v-row class="mt-5">
          <v-col cols="12">
            <div
              class="poppins white--text font-weight-bold"
              style="font-size: 28px"
            >
              {{ $t("title") }}
            </div>
          </v-col>
          <v-col cols="12">
            <div class="poppins white--text">
              {{ $t("subtitle") }}
            </div>
          </v-col>
        </v-row>
        <v-row class="mb-3">
          <v-col cols="12" class="pr-0">
            <template v-if="nftsListVote.length > 0">
              <carousel
                :nav="false"
                :dots="false"
                :autoWidth="true"
                :margin="10"
                rewind
                autoplay
                autoplayHoverPause
                class="main-carousel"
              >
                <template
                  v-if="!isXsSm() && nftsListVote.length > 3"
                  slot="prev"
                  class="prev-button"
                >
                  <span class="prev">
                    <v-btn text icon>
                      <v-icon xLarge color="white"> mdi-chevron-left </v-icon>
                    </v-btn>
                  </span>
                </template>
                <template
                  v-if="!isXsSm() && nftsListVote.length > 3"
                  slot="next"
                >
                  <span class="next">
                    <v-btn text icon>
                      <v-icon xLarge color="white"> mdi-chevron-right </v-icon>
                    </v-btn>
                  </span>
                </template>
                <div v-for="(item, index) in nftsListVote" :key="index">
                  <CardVoted :item="item" :numberId="index + 1" />
                </div>
              </carousel>
            </template>
          </v-col>
        </v-row>
      </v-container>
    </template>
  </Wrapper>
</template>

<script>
import { mapActions, mapState } from "vuex";
import carousel from "vue-owl-carousel";
import CardVoted from "./CardVoted.vue";

export default {
  name: "MostVoted",
  components: {
    carousel,
    CardVoted,
  },
  computed: {
    ...mapState("nft", ["nftsListVote"]),
    ...mapState("core", ["country"]),
  },
  methods: {
    ...mapActions("nft", ["getNftsVote"]),
    async loadData() {
      let params = {
        country: this.country,
      };
      this.getNftsVote(params);
    },
  },
  async beforeMount() {
    await this.loadData();
  },
};
</script>
<style lang="scss" scoped>
// Carousel
::v-deep .owl-carousel {
  & .owl-stage-outer {
    padding: 15px 0;
  }
}

// Por alguna razón el atributo loop del carousel
// oculta el botón prev. De esta forma se muestra
::v-deep [id^="carousel_prev_"] {
  display: flex !important;
}

.main-carousel {
  position: relative;

  & .next {
    position: absolute;
    right: -5%;
    top: calc(50% - 28px);
  }
  & .prev {
    position: absolute;
    top: calc(50% - 28px);
    left: -5%;
  }
}
</style>
