<i18n>
{
  "es": {
    "title": "Colecciones destacadas",
    "titleMobile": "Colecciones"
  },
  "en": {
    "title": "Colecciones destacadas",
    "titleMobile": "Colecciones"
  }
}
</i18n>


<template>
  <Wrapper mainContainerClass="black">
    <template slot="content">
      <v-container class="px-4 px-md-0">
        <v-row class="mb-3 mt-10">
          <v-col>
            <div
              class="poppins white--text font-weight-bold"
              style="font-size: 28px"
            >
              {{ title }}
            </div>
          </v-col>
          <v-col cols="12" class="pr-0">
            <template v-if="allCollections.length > 0">
              <carousel
                :nav="false"
                :dots="false"
                :autoWidth="true"
                :margin="10"
                rewind
                autoplay
                autoplayHoverPause
                class="main-carousel"
              >
                <template
                  v-if="!isXsSm() && allCollections.length > 4"
                  slot="prev"
                  class="prev-button"
                >
                  <span class="prev">
                    <v-btn text icon>
                      <v-icon xLarge color="white"> mdi-chevron-left </v-icon>
                    </v-btn>
                  </span>
                </template>
                <template
                  v-if="!isXsSm() && allCollections.length > 4"
                  slot="next"
                >
                  <span class="next">
                    <v-btn text icon>
                      <v-icon xLarge color="white"> mdi-chevron-right </v-icon>
                    </v-btn>
                  </span>
                </template>
                <div v-for="(item, index) in allCollections" :key="index">
                  <CardCollection :item="item" />
                </div>
              </carousel>
            </template>
          </v-col>
        </v-row>
      </v-container>
    </template>
  </Wrapper>
</template>

<script>
import { mapActions, mapState } from "vuex";
import carousel from "vue-owl-carousel";
import CardCollection from "../../collection/components/CardCollection.vue";

export default {
  components: {
    carousel,
    CardCollection,
  },
  methods: {
    ...mapActions("nft_collection", ["getAllCollections"]),
    async loadData() {
      let params = {
        country: this.country,
      };
      this.getAllCollections(params);
    },
  },
  computed: {
    ...mapState("nft_collection", ["allCollections"]),
    ...mapState("core", ["country"]),
    title() {
      return this.$vuetify.breakpoint.xs
        ? this.$t("titleMobile")
        : this.$t("title");
    },
  },
  async beforeMount() {
    await this.loadData();
  },
};
</script>
<style lang="scss" scoped>
// Carousel
::v-deep .owl-carousel {
  & .owl-stage-outer {
    padding: 15px 0;
  }
}

// Por alguna razón el atributo loop del carousel
// oculta el botón prev. De esta forma se muestra
::v-deep [id^="carousel_prev_"] {
  display: flex !important;
}

.main-carousel {
  position: relative;

  & .next {
    position: absolute;
    right: -5%;
    top: calc(50% - 28px);
  }
  & .prev {
    position: absolute;
    top: calc(50% - 28px);
    left: -5%;
  }
}
</style>
