<i18n>
  {
    "es": {
      "countdown": "Quedan {countdown}"
    },
    "en": {
      "countdown": "{countdown} left"
    }
  }
</i18n>

<template >
  <div v-if="!isLite" style="text-align: -webkit-center; position: absolute">
    <div  v-if="time"
      :class="
        $vuetify.breakpoint.xs
          ? 'border-container pos-container-mobile'
          : 'border-container pos-container'
      "
    >
      <div
        class="mt-1 body-1 poppins"
        style="
          font-weight: 900 !important;
          width: 108px;
          margin-right: 28px;
          text-align: center;
          margin-left: 6px;
        "
      >
         {{ time }}
      </div>
      <div>
        <fire :font-size="2" :top="-6" :left="118"></fire>
      </div>
    </div>
    <div v-else class="loading-progress">
      <v-progress-circular
        :size="20"
        indeterminate
        :color="loadingColor"
      ></v-progress-circular>
    </div>
  </div>
  <div v-else class="d-flex align-center">
    <span class="body-1" style="color: #41ffaf">
      {{
        $t("countdown", {
          countdown: time,
        })
      }}
    </span>
    <div class="ml-2" style="position: relative;">
      <fire :font-size="2" :top="-20" :left="0"></fire>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import fire from "@/modules/home/components/fire";

export default {
  name: "NftCountdown",
  props: {
    enddate: {
      type: String,
      required: true,
    },
    isLite: {
      type: Boolean,
      default: false,
    },
    loadingColor: {
      type: String,
      default: "primary",
    }
  },
  components: { fire },
  data() {
    return {
      time: null,
    };
  },
  methods: {
    durationAsString() {
      const dateNow = new Date()
        .toISOString()
        .replace(/T/, " ")
        .replace(/\..+/, "");
      const duration = moment.duration(moment(this.enddate).diff(dateNow));
      if (duration >= 0) {
        const d = Math.floor(duration.asDays());
        const h = duration.hours();
        const m = duration.minutes();
        const s = duration.seconds();
        return `${d}d ${h}h ${m}m ${s}s`;
      } else {
        return false;
      }
    },
  },
  mounted() {
    setInterval(() => {
      this.time = this.durationAsString();
    }, 1000);
  },
};
</script>

<style scoped>
.border-container {
  width: 150px;
  height: 30px;
  border: double 2px transparent;
  border-radius: 25px;
  background-image: linear-gradient(#fff, #fff),
    radial-gradient(circle at top left, #ef1eef, #163ae0);
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: relative;
  top: -25px;
  left: 46px;
}
.loading-progress {
  width: 242px;
  height: 20px;
  text-align: center;
  position: relative;
  top: -24px;
}
</style>