<i18n src="../locales/filters_categories.json"></i18n>
<template>
  <Wrapper mainContainerClass="black pt-10">
    <template slot="content">
      <v-container class="mt-5 px-md-0" id="category-section">
        <v-row no-gutters>
          <v-col
            cols="6"
            md="12"
            class="poppins white--text font-weight-bold mb-2"
            style="font-size: 28px"
            order="1"
          >
            {{ $t("title") }}
          </v-col>
          <v-col cols="12" md="8" order="3" order-md="2">
            <v-chip-group
              v-model="filteredCategories"
              multiple
              active-class="active-chip"
              :center-active="true"
            >
              <template v-for="categoryNft in categoriesNfts">
                <v-chip
                  :key="categoryNft.id"
                  :id="`btn_tab_${categoryNft.id}`"
                  class="px-4 font-weight-bold"
                >
                  {{ categoryNft.name }}
                </v-chip>
              </template>
            </v-chip-group>
          </v-col>
          <v-col
            cols="6"
            md="4"
            class="d-flex align-center justify-end mb-2 mb-md-0"
            order="2"
            order-md="3"
          >
            <v-menu
              class="text-right text-sm-left"
              :close-on-content-click="true"
              offset-y
            >
              <template v-slot:activator="{ on }">
                <v-btn
                  v-on="on"
                  elevation="0"
                  color="black"
                  class="font-weight-black"
                  dark
                >
                  <v-icon size="20px" class="mr-1">mdi-tune</v-icon>
                  <span class="subtitle-1"> {{ $t("order_button") }} </span>
                </v-btn>
              </template>
              <v-list min-width="166px" dark>
                <span class="caption-2 pl-4"> {{ $t("order_by") }} </span>
                <v-divider class="my-2" style="border-color: black"></v-divider>
                <v-list-item-group
                  v-model="selectedOrder"
                  active-class="active-item"
                >
                  <v-list-item
                    v-for="(itemFilter, index) in listFilter"
                    :key="index"
                    :height="38"
                  >
                    <template v-slot:default="{ active }">
                      <v-list-item-title>
                        {{ itemFilter.name }}
                        <v-icon
                          v-if="active"
                          size="14px"
                          class="mr-1"
                          color="#41ffaf"
                        >
                          mdi-check-bold
                        </v-icon>
                      </v-list-item-title>
                    </template>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-menu>
          </v-col>
        </v-row>
      </v-container>
      <v-divider />
      <v-progress-linear
        indeterminate
        color="grey"
        :active="loadingnfts"
      ></v-progress-linear>
      <v-data-iterator
        :items="nftsProjects"
        :items-per-page="8"
        :page="currentPage"
        hide-default-footer
        :disable-pagination="true"
        class="mt-8 mx-4 mx-md-0"
        :loading="loadingnfts"
      >
        <template v-slot:default="{ items }">
          <v-row>
            <v-col
              v-for="item in items"
              :key="item.name"
              cols="12"
              sm="6"
              md="4"
              lg="3"
              class="pa-2"
            >
              <Project :item="item" />
            </v-col>
          </v-row>
        </template>
        <template v-slot:no-data>
          <div class="white--text">
            <template v-if="filteredCategories.length == 1">
              {{ $t("no_data_one_category", { category: categoryName }) }}
            </template>
            <template v-else>
              {{ $t("no_data_many_categories") }}
            </template>
          </div>
        </template>
      </v-data-iterator>
      <UiPagination
        v-if="totalItems > 7"
        v-model="currentPage"
        class="mt-4"
        :totalItems="totalItems"
        :itemsPerPage="8"
        :loading="loadingnfts"
        @changePage="changePage"
        dark
      />
    </template>
  </Wrapper>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { UiPagination } from "ui-components";
import Project from "./Project.vue";

export default {
  name: "Nfts",
  components: {
    Project,
    UiPagination,
  },
  data() {
    return {
      selectedOrder: null,
      isPaginations: false,
      selectedCategoriesIds: [],
      filteredCategories: [],
      listFilter: [
        {
          name: this.$t("latest"),
          order: { start_date: "desc" },
        },
        {
          name: this.$t("lowest_price"),
          order: { order_by_usd_price: "asc" },
        },
        {
          name: this.$t("higher_price"),
          order: { order_by_usd_price: "desc" },
        },
        {
          name: this.$t("most_voted"),
          order: { order_by_votes: "desc" },
        },
      ],
      scrollOptions: {
        duration: 300,
        offset: 0,
        easing: "easeInOutCubic",
      },
    };
  },
  computed: {
    ...mapState("core", ["country"]),
    ...mapState("nft", [
      "nftsProjects",
      "loadingnfts",
      "totalItems",
      "categoriesNfts",
    ]),
    currentPage: {
      get() {
        return this.$store.getters["nft/currentPage"];
      },
      set(val) {
        this.$store.commit("nft/SET_CURRENT_PAGE", val);
      },
    },
    categoryName() {
      if (this.filteredCategories.length == 1) {
        return this.categoriesNfts[this.filteredCategories].title;
      }
    }
  },
  methods: {
    ...mapActions("nft", ["getNftsCategories", "getNftsProjects"]),
    changePage(newPage) {
      this.currentPage = newPage;
    },
    async getFilteredData(page = 1) {
      const categories = await this.categoriesNfts.reduce(
        (total, category, index) => {
          if (this.filteredCategories.includes(index)) {
            total.push(category.id);
          }
          return total;
        },
        []
      );

      // Seteo la página para q se actualicé el front
      this.currentPage = page;

      const order = !this.selectedOrder
        ? {nft_default_order: 'asc'}
        : this.listFilter[this.selectedOrder].order;

      await this.getNftsProjects({
        country: this.country,
        categories: categories,
        order: order,
        page: page,
      });
    },
  },
  watch: {
    filteredCategories() {
      this.getFilteredData();
    },
    selectedOrder() {
      this.getFilteredData();
    },
    currentPage(newPage) {
      this.getFilteredData(newPage);
      this.$vuetify.goTo("#category-section", this.scrollOptions);
    },
  },
  async mounted() {
    await this.getNftsCategories();
    await this.getFilteredData();
  },
};
</script>

<style lang="scss" scoped>
::v-deep .v-chip.v-size--default {
  height: 32px;
}
.active-chip {
  background-color: #6400ba !important;
  color: white !important;
}
.active-item {
  background-color: #1e1e1e !important;
  color: white !important;
  &::before {
    opacity: 0;
  }
}
.v-chip:not(.v-chip--active) {
  border: 1px solid #6400ba !important;
  color: white;
  background: transparent !important;
}
::v-deep .v-slide-group__content {
  justify-content: space-between;
}
.v-list-item {
  min-height: 38px !important;
}
</style>