<i18n>
{
  "es": {
    "title": "El primer Marketplace de NFT está en SeSocio",
    "comments": "NFTs únicos, escasos e irrepetibles almacenados en tecnología blockchain. Descubre y colecciona obras digitales sobre arte, deporte, gaming y mucho más.",
    "btn-link": "Conocé más"
  },
  "es-AR": {
    "title": "El primer Marketplace de NFT está en SeSocio",
    "comments": "NFTs únicos, escasos e irrepetibles almacenados en tecnología blockchain. Descubrí y coleccioná obras digitales sobre arte, deporte, gaming y mucho más.",
    "btn-link": "Conocé más"
  },
  "en": {
    "title": "El primer Marketplace de NFT está en SeSocio",
    "comments": "NFTs únicos, escasos e irrepetibles almacenados en tecnología blockchain. Descubre y colecciona obras digitales sobre arte, deporte, gaming y mucho más.",
    "btn-link": "Conocé más"
  }
}
</i18n>

<template>
  <Wrapper mainContainerClass="black">
    <template slot="content">
      <v-container class="my-5 my-md-15">
        <v-row>
          <v-col cols="12" md="5">
            <v-row>
              <v-col cols="12" class="mt-md-5">
                <h1
                  class="poppins colorGreen text-26"
                  style="min-height: 48px; max-height: 144px"
                >
                  {{ $t("title") }}
                </h1>
              </v-col>
              <v-col cols="12" class="my-md-5">
                <p class="mb-0 poppins white--text">
                  {{ $t("comments") }}
                </p>
              </v-col>
              <v-col v-if="!isXsSm()" cols="12">
                <v-btn
                  class="subtitle-1 poppins font-weight-bold"
                  :elevation="0"
                  color="#4efeb1"
                  target="_blank"
                  large
                  width="200px"
                  :to="cryptoArticle"
                >
                  <span>{{ $t("btn-link") }}</span>
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" md="7" class="mt-10 pa-0 d-flex justify-center">
            <template v-if="!isXsSm()">
              <v-img class="img-landing" :src="getImage('landing.png')" />
            </template>
            <template v-else>
              <v-img
                contain
                height="323px"
                width="396px"
                eager
                :src="getImage('landingMobile.png')"
              />
            </template>
          </v-col>
        </v-row>
        <v-row v-if="isXsSm()">
          <v-col cols="12" class="mt-10 mb-10 pa-0 d-flex justify-center">
            <template>
              <v-btn
                class="subtitle-1 poppins font-weight-bold"
                :elevation="0"
                color="#4efeb1"
                target="_blank"
                large
                width="320px"
                :to="cryptoArticle"
              >
                <span>{{ $t("btn-link") }}</span>
              </v-btn>
            </template>
          </v-col>
        </v-row>
      </v-container>
    </template>
  </Wrapper>
</template>

<script>
export default {
  computed: {
    cryptoArticle() {
      return "/articles/2021/08/02/nfts?sscool=crypto_guide";
    },
  },
  methods: {
    getImage(image) {
      return require("../../../assets/images/" + image);
    },
  },
};
</script>
<style scoped>
.colorGreen {
  color: #4efeb1 !important;
}
.img-landing {
  width: 712px;
  margin-top: -50px;
  margin-right: 64px;
}
</style>
