<i18n>
{
  "es": {
    "offer": "Ofertar",
    "info": "+ Info",
    "offerp2p": "Ir a trading"
  },
  "es-AR": {
    "offer": "Ofertar",
    "info": "+ Info",
    "offerp2p": "Ir a trading"
  },
  "en": {
    "offer": "Offer",
    "info": "+ Info",
    "offerp2p": "Ir a trading"
  }
}
</i18n>
<template>
  <div v-if="item" style="position: relative; z-index: 1">
    <div
      v-if="isComingSoon"
      color="#20252a"
      :height="424"
      :width="320"
      class="mx-auto my-0 d-flex flex-column coming-soon"
    >
      <div class="coming-soon-center">
        Próximamente<br />
        <img
          :width="180"
          :height="35"
          src="../../../assets/images/loading.svg"
          alt="John"
        />
      </div>
    </div>
    <v-card
      v-if="item != undefined && item.nftCollection"
      color="#20252a"
      :class="isComingSoon ? 'comingSoon-card' : 'rounded-card'"
      class="mx-auto my-0 d-flex flex-column"
      light
      :height="'auto'"
      :width="$vuetify.breakpoint.xs && !fixedWidth ? 'auto' : 260"
      align="start"
      justify="start"
      :to="projectLink(item)"
      :id="`data-test-${item.titleId}`"
      style="z-index: 9"
    >
      <div class="ma-2">
        <div class="d-flex justify-space-between align-center pa-4">
          <div class="d-flex align-center avatar-title">
            <v-avatar class="avatar-outlined" :size="40">
              <img
                :src="item.nftCollection.logoUrl.medium"
                :alt="item.nftCollection.name"
                height="40px"
                width="40px"
                cover
              />
            </v-avatar>
            <span class="white--text overline-2 poppins title-height">
              {{ item.nftCollection.name }}
            </span>
          </div>
          <StarVote :item="item" :moduleName="moduleName" />
        </div>
        <v-container fluid>
          <v-layout justify-center align-center>
            <v-flex shrink>
              <div>
                <!-- souldOut -->
                <div
                  v-if="isSoldOut"
                  :class="
                    $vuetify.breakpoint.xs ? 'sold-out-mobile' : 'sold-out'
                  "
                >
                  <v-img src="../../../assets/images/soldout.svg" :height="232">
                  </v-img>
                </div>
                <template v-if="nftFileType == 'video'">
                  <div class="iconPlay">
                    <img src="../../../assets/images/btn-play.svg" alt="Play" />
                  </div>
                </template>
                <v-img :src="nftPreview" :height="232"> </v-img>
              </div>
            </v-flex>
          </v-layout>
        </v-container>

        <!-- isCountdown-->
        <NftCountdown
          v-if="isCountdown"
          :enddate="item.enddate"
          :is-lite="false"
        />

        <div class="flex-grow-1 mt-4 ml-3">
          <div class="overline-2 white--text poppins txt-height-40">
            {{ item.title }}
            <!-- {{item.countLikes}} - {{item.partValuePlusStep}}  |  {{item.startDate}}-->
          </div>
          <div class="white--text caption-2 txt-height-32">
            {{ item.summary | striphtml }}
          </div>
          <div class="white--text caption-2 pt-5">
            {{ showPrice }} {{ item.currency }}
          </div>
          <v-spacer></v-spacer>
          <v-container class="pl-0 pt-2">
            <v-row no-gutters>
              <v-col cols="6" sm="6">
                <b class="title-3 font-weight-black">
                  <v-btn
                    v-if="!isSoldOut && item.nftCollection && !isFunded"
                    :class="
                      !isXsSm() ? 'black--text btn-scool' : 'pt-0 black--text'
                    "
                    :width="!isXsSm() ? '90' : '120'"
                    :height="!isXsSm() ? '30' : '35'"
                    color="#41FFAF"
                    :to="tradingLink(item)"
                    @click="trackEventToOffer(item)"
                  >
                    {{ $t("offer") }}
                  </v-btn>

                  <v-btn
                    v-if="isFunded"
                    :class="
                      !isXsSm() ? 'black--text btn-scool' : 'pt-0 black--text'
                    "
                    :width="!isXsSm() ? '90' : '120'"
                    :height="!isXsSm() ? '30' : '35'"
                    color="#41FFAF"
                    :to="tradingLink(item)"
                    @click="trackEventToTrading(item)"
                  >
                    {{ $t("offerp2p") }}
                  </v-btn>
                </b>
              </v-col>
              <v-col cols="6" sm="6" class="text-right">
                <span class="subtitle-2">
                  <a
                    v-if="item.nftCollection"
                    class="text-info"
                    :to="`/nft/${item.nftCollection.nameId}/${item.titleId}`"
                  >
                    {{ $t("info") }}
                  </a>
                </span>
              </v-col>
            </v-row>
          </v-container>
        </div>
      </div>
    </v-card>
  </div>
</template>

<script>
import NftCountdown from "../components/NftCountdown.vue";
import moment from "moment";
import StarVote from "./StarVote.vue";

export default {
  name: "CardProjectNft",
  props: {
    item: {
      type: Object,
      required: true,
    },
    moduleName: {
      type: String,
      default: "nft",
    },
    fixedWidth: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      isComingSoon: false,
      isCountdown: false,
      isSoldOut: false,
      now: new Date().toISOString().replace(/T/, " ").replace(/\..+/, ""),
      startDate: null,
    };
  },
  components: {
    NftCountdown,
    StarVote,
  },
  computed: {
    isFunded() {
      return (
        this.item.projectStatusMessage == "funded" ||
        this.item.projectStatusMessage == "confirmed"
      );
    },
    nftFileType() {
      let media = "image";
      if (
        this.item &&
        this.item?.nftFiles &&
        this.item.nftFiles?.nft &&
        this.item.nftFiles.nft.type != null
      ) {
        let type = this.item.nftFiles.nft.type;
        if (type != null) {
          media = type.split("/")[0];
        }
      }
      return media;
    },
    nftPreview() {
      if (this.item && this.item?.nftFiles && this.item.nftFiles?.nft_preview) {
        return this.item.nftFiles.nft_preview.url;
      } else if (this.item && this.item.imagesUrl) {
        return this.item.imagesUrl.small;
      }
    },
    showPrice(){
      if(!this.item.investable && this.isFunded) {
        return this.number_format(this.item.partValueOriginal);
      } else {
        return this.number_format(this.item.partValuePlusStep);
      }
    }
  },
  methods: {
    trackEventToOffer(item){
      this.triggerGTMEvent(
        `to-nft-buy-offer`, //event
        'UserActivity', //category
        'NftInvestment', //action
        `${item.titleId}/${item.nftCollection.nameId}` //label
      );
    },
    trackEventToTrading(item){
      this.triggerGTMEvent(
        `to-nft-buy-trading`, //event
        'UserActivity', //category
        'NftInvestment', //action
        `${item.titleId}/${item.nftCollection.nameId}` //label
      );
    },
    tradingLink(item) {
      if (this.isFunded){
        return `/projects/${item.titleId}/trading_buys/new`;
      } else {
        return `/nft/${item.nftCollection.nameId}/${item.titleId}/offer`;
      }
    },
    projectLink(item) {
      if (this.isFunded)
        return `/nft/${item.nftCollection.nameId}/${item.titleId}?original=true`;
      return `/nft/${item.nftCollection.nameId}/${item.titleId}`;
    },
  },
  created() {
    let endNft = moment
      .duration(moment(this.item.enddate).diff(this.now))
      .asDays();
    if (endNft > 0 && endNft <= 7) {
      this.isCountdown = true;
    }
    if (this.item.startDate > this.now) {
      this.isComingSoon = true;
    }
    if (this.item.allow_trading) {
      this.isSoldOut = true;
    }
  },
};
</script>

<style scoped>
.rounded-card {
  border-radius: 1em;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  transition: transform 250ms;
}
.comingSoon-card {
  border-radius: 1em;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  transition: transform 250ms;
}
.rounded-card:hover {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  transform-origin: center center 0px;
  transition: all 0.5s ease-out;
  box-shadow: 0 0 5px rgba(245, 245, 245, 0.8);
  animation-name: animate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform: rotateY(18deg);
  transform: perspective(1000px) rotateX(2deg) rotateY(2deg) rotateZ(-1deg)
    rotateY(38deg);
  transform: perspective(1000px) rotateY(-2deg) rotateX(-2deg) rotateZ(-1deg)
    rotateY(18deg);
  z-index: 1;
  transition-timing-function: ease-out;
  transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 500ms;
}

.text-info {
  color: white;
}
.text-info:hover {
  color: #41ffaf;
}

.coming-soon {
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  color: white;
  top: 0;
  background-color: #040404bd;
  width: 100%;
  height: 100%;
  text-align: center;
}
.coming-soon-center {
  width: 180px;
  height: 35px;
  z-index: 20;
}

.iconPlay {
  position: absolute;
  right: 28px;
  margin-top: 6px;
  z-index: 3;
  display: block;
}

.sold-out {
  height: 232px;
  position: absolute;
  z-index: 20;
  background-size: cover;
  background-position: center center;
  width: 224px;
  left: 19px;
  overflow: hidden;
}
.sold-out-mobile {
  height: 232px;
  position: absolute;
  z-index: 20;
  background-size: cover;
  background-position: center center;
  width: 300px;
  left: 20px;
  overflow: hidden;
}

.avatar-title {
  max-width: 80%;
}

.avatar-title span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 70%;
}

.txt-height-32 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 32px; /* fallback */
  min-height: 32px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.txt-height-40 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 40px; /* fallback */
  min-height: 40px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.avatar-outlined {
  border: double 3px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, rgb(0, 255, 81), #20bcff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-right: 8px !important;
}
</style>
