<template>
  <div v-if="!loading" class="d-flex align-center">
    <v-icon
      color="#00FAAA"
      class="mr-1"
      @click.prevent="isLoggedIn ? user_vote() : undefined"
    >
      {{ star }}
    </v-icon>
    <span class="caption-2 font-weight-bold white--text">
      {{ item.countLikes }}
    </span>
  </div>
  <v-progress-circular
    v-else
    :size="20"
    indeterminate
    color="primary"
  ></v-progress-circular>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  props: {
    item: {
      required: true,
      type: Object,
    },
    moduleName: {
      type: String,
      default: "nft",
    }
  },
  data() {
    return {
      loading: false,
    };
  },
  computed: {
    ...mapState("user", ["isLoggedIn"]),
    star() {
      if (this.isLoggedIn) {
        return this.item?.currentUserLike ? "mdi-star" : "mdi-star-outline";
      }
      return "mdi-star-outline";
    },
  },
  methods: {
    ...mapActions("nft", ["sendVote", "removeVote"]),
    async send_vote() {
      this.loading = true;
      await this.sendVote({ project: this.item, module: this.moduleName })
        .then((response) => {})
        .catch((error) => {});
      this.loading = false;
    },
    async remove_vote() {
      this.loading = true;
      await this.removeVote({ project: this.item, module: this.moduleName })
        .then((response) => {})
        .catch((error) => {});
      this.loading = false;
    },
    async user_vote() {
      if (!this.loading) {
        if (this.item.currentUserLike) {
          this.remove_vote();
        } else {
          this.send_vote();
        }
      }
    },
  },
};
</script>
