<i18n>
  {
    "es": {
      "title": "Portfolio NFT",
      "subtitle": "Visualiza tus NFT y descubre nuevas obras.",
      "meta_title": "SeSocio | Descubre el primer marketplace de NFT en LATAM",
      "meta_description": "Sé parte de la nueva era de coleccionistas de tokens digitales"
    },
    "es-AR": {
      "title": "Portfolio NFT",
      "subtitle": "Visualizá tus NFT y descubrí nuevas obras.",
      "meta_title": "SeSocio | Descubrí el primer marketplace de NFT en LATAM",
      "meta_description": "Sé parte de la nueva era de coleccionistas digitales"
    },
    "pt": {
      "meta_title": "SeSocio | Descubra o primeiro mercado da NFT na LATAM",
      "meta_description": "Faça parte da nova era dos coleccionadores de fichas digitais"
    },
    "en": {
      "title": "NFT Portfolio",
      "subtitle": "Visualiza tus NFT y descubre nuevas obras.",
      "meta_title": "SeSocio | No minimum amounts in LATAM's leading personal finance platform",
      "meta_description": "Be part of the new era of digital token collectors"
    }
  }
</i18n>

<template>
  <LayoutContent paddingless>
    <template #header-left>
      <div class="d-flex flex-column justify-center">
        <span
          class="
            poppins secondary--text 
            font-weight-semibold
            text-center
            text-md-left
          "
          :style="
            !$vuetify.breakpoint.smAndDown
              ? 'font-size: 24px'
              : 'font-size: 16px'
          "
        >
          {{ $t("title") }}
        </span>
        <span
          v-if="!$vuetify.breakpoint.smAndDown"
          class="
            text-subtitle-2
            black--text text--darken-1
            font-weight-semibold
          "
        >
          {{ $t("subtitle") }}
        </span>
      </div>
    </template>
    <template v-if="totalNftPortfolio > 0">
      <v-container class="pb-0 pt-3" fluid>
        <SwitchNftStatus v-if="totalNftPortfolio > 0" />
      </v-container>
      <v-divider class="custom-divider mb-2"></v-divider>
    </template>
    <v-container fluid>
      <v-row class="px-3 px-md-0">
        <v-col v-if="totalNftPortfolio > 0" cols="12">
            <NftCategories />
          </v-col>
        <v-col cols="12" class="pt-2">
          <PortfolioContent v-if="totalNftPortfolio > 0" />
          <EmptyPortfolio v-else />
        </v-col>
      </v-row>
    </v-container>
  </LayoutContent>
</template>

<script>
import store from "../store";
import { mapState, mapActions } from "vuex";
import Wrapper from "../../core/Wrapper.vue";
import SwitchNftStatus from "../components/header/SwitchNftStatus";
import NftCategories from "../components/header/NftCategories";
import PortfolioContent from "../components/content/PortfolioContent";
import { LayoutContent } from "ui-components";
import EmptyPortfolio from "../components/content/EmptyPortfolio";

export default {
  head: {
    title: function () {
      return {
        inner: this.$t("meta_title"),
      };
    },
    // Meta tags
    meta() {
      let metas = [
        {
          name: "application-name",
          content: "SeSocio",
          id: "appnameid",
        },
        {
          name: "description",
          content: this.$t("meta_description"),
          id: "desc", // id to replace intead of create element
        },
        // Twitter
        {
          name: "twitter:title",
          content: this.$t("meta_title"),
          id: "twtitle",
        },
        // with shorthand
        {
          n: "twitter:description",
          c: this.$t("meta_description"),
          id: "twdesc",
        },
        {
          n: "twitter:site",
          c: "@sesociocom",
          id: "twsite",
        },
        {
          n: "twitter:creator",
          c: "@sesociocom",
          id: "twcreator",
        },
        {
          n: "twitter:card",
          c: "summary_large_image",
          id: "twcard",
        },
        {
          n: "twitter:image",
          c: process.env.VUE_APP_BASE_URL + "img/isologo.png",
          id: "twimage",
        },
        {
          n: "twitter:domain",
          c: "sesocio.com",
          id: "twdomain",
        },
        {
          n: "twitter:url",
          c:
            process.env.VUE_APP_BASE_URL +
            this.$router.currentRoute.path.substr(1),
          id: "twurl",
        },
        // Google+ / Schema.org
        {
          itemprop: "name",
          content: this.$t("meta_title"),
          id: "gname",
        },
        {
          itemprop: "description",
          content: this.$t("meta_description"),
          id: "gdesc",
        },
        // Facebook / Open Graph
        {
          property: "fb:app_id",
          content: "205875806419296",
          id: "fbid",
        },
        {
          property: "og:title",
          content: this.$t("meta_title"),
          id: "ogtitle",
        },
        // with shorthand
        {
          p: "og:image",
          c: process.env.VUE_APP_BASE_URL + "img/isologo.png",
          id: "ogimage",
        },
        {
          p: "og:url",
          c:
            process.env.VUE_APP_BASE_URL +
            this.$router.currentRoute.path.substr(1),
          id: "ogurl",
        },
        {
          p: "og:site_name",
          c: "SeSocio",
          id: "ogsitename",
        },
        {
          p: "og:description",
          c: this.$t("meta_description"),
          id: "ogdesc",
        },
        {
          p: "og:type",
          c: "article",
          id: "ogtype",
        },
      ];
      return metas;
    },
  },
  components: {
    SwitchNftStatus,
    NftCategories,
    PortfolioContent,
    Wrapper,
    LayoutContent,
    EmptyPortfolio,
  },
  computed: {
    ...mapState("mis-nft", ["nftPortfolios", "totalNftPortfolio"]),
  },
  methods: {
    ...mapActions("mis-nft", ["getTotalNftPortfolio"]),
  },
  created() {
    if (!this.$store.hasModule("mis-nft")) {
      this.$store.registerModule("mis-nft", store);
    }
  },
  async mounted() {
    await this.getTotalNftPortfolio();
  }
};
</script>

<style scoped>
.custom-divider {
  border-color: rgba(77, 77, 77, 0.38) !important;
  margin-top: -2px;
}
</style>