
<i18n>
  {
    "es": {
      "collection": "Colección"
    },
    "es-AR": {
      "collection": "Colección"
    },
    "pt": {
      "collection": "Colección"
    },
    "en": {
      "collection": "Colección"
    }
  }
</i18n>

<template>
  <v-card
    class="elevation-0"
    color="transparent"
  >
    <v-card-title
      class="px-2"
    >
      <h5
        class="text-subtitle-2 black--text font-weight-normal"
      >
        <span
          class="poppins"
          v-text="get_collection_name()"
        >
        </span>
      </h5>
    </v-card-title>
    <v-card-text
      class="px-2"
    >
      <v-row>
        <v-col
          v-for="(portfolio, index) in nftCollection.portfolios"
          :key="index"
          cols="12"
          sm="6"
          md="6"
          xl="4"
          class="pb-4"
        >
          <nft-card
            :portfolio="portfolio"
          >
          </nft-card>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
  import NftCard from "./nft/NftCard"

  export default {
    props: {
      nftCollection: {
        required: true,
        type: Object
      }
    },
    methods: {
      get_collection_name(){
        return `${this.$t('collection')} ${this.nftCollection.name}`
      }
    },
    components: {
      NftCard
    }
  }
</script>
