<i18n>
  {
    "es": {
      "comments": "¿Cómo comprar y vender un NFT en SS?<br/><br/>Las ventas siguen un formato de subasta y los pagos pueden realizarse en diferentes criptomonedas.<br/>Si has encontrado un NFT para la venta bajo la modalidad de subasta, tendrás que hacer una oferta para tener la oportunidad de ganar.&nbsp;La mayor oferta al final de la subasta terminará comprando la NFT.<br/><br/>Método de Subasta:<br/>Los usuarios registrados en la plataforma pueden realizar ofertas con cualquiera de sus monedas disponibles.&nbsp;En el caso de ofertar en una moneda distinta a la moneda de subasta, se realiza un swap por cuenta y orden del usuario para poder generar la operación.&nbsp;Si la oferta es mejorada, el saldo <strong>se devuelve siempre en la moneda de subasta</strong>.<br/>Al terminar la subasta, se adjudica el NFT al usuario que hubiera ofertado una mayor cantidad de criptoactivos.<br/><br/>Terminada la subasta y asignado el NFT al oferente ganador, el usuario dueño del NFT podrá venderlo en la plataforma de trading a cualquier otro usuario bajo la modalidad P2P. "
    },
    "en": {
      "comments": "¿Cómo comprar y vender un NFT en SS?<br/><br/>Las ventas siguen un formato de subasta y los pagos pueden realizarse en diferentes criptomonedas.<br/>Si has encontrado un NFT para la venta bajo la modalidad de subasta, tendrás que hacer una oferta para tener la oportunidad de ganar.&nbsp;La mayor oferta al final de la subasta terminará comprando la NFT.<br/><br/>Método de Subasta:<br/>Los usuarios registrados en la plataforma pueden realizar ofertas con cualquiera de sus monedas disponibles.&nbsp;En el caso de ofertar en una moneda distinta a la moneda de subasta, se realiza un swap por cuenta y orden del usuario para poder generar la operación.&nbsp;Si la oferta es mejorada, el saldo <strong>se devuelve siempre en la moneda de subasta</strong>.<br/>Al terminar la subasta, se adjudica el NFT al usuario que hubiera ofertado una mayor cantidad de criptoactivos.<br/><br/>Terminada la subasta y asignado el NFT al oferente ganador, el usuario dueño del NFT podrá venderlo en la plataforma de trading a cualquier otro usuario bajo la modalidad P2P. "
    }
  }
</i18n>

<template>
  <div class="mr-12 text-body-2 white--text text-justify">
    <p class="poppins" v-html="$t('comments')"></p>
  </div>
</template>

