<i18n>
  {
    "es": {
      "comments": "¿Es seguro invertir en NFTs?<br/>Invertir en NFTs conlleva riesgo al igual que cualquier inversión.<br/><br/>¿Cuáles son los factores de riesgo? <br/>Recordá que sos el único responsable de mantener a salvo tu cuenta y contraseña de SESOCIO.COM, y sos responsable de todas las transacciones en tu cuenta de SESOCIO.COM. <br/> <br/>Te recomendamos utilizar contraseñas complejas.&nbsp;Intenta combinar letras mayúsculas y minúsculas, números y símbolos. &nbsp;Cuanto más larga sea la contraseña, mejor. Podés utilizar los medidores de contraseñas en línea para ver qué tan fuerte es tu contraseña.<br/> <br/>Evita el WiFi público. Evita interactuar con cualquier exchange o monederos mientras estás conectado a un WIFI publico. Los hackers pueden recoger fácilmente los datos transmitidos a través de la red, por ejemplo, tus credenciales de acceso.<br/><br/>Tené cuidado con las estafas de phishing. Las estafas de phishing crean un sitio web falso que se asemeja al sitio original. El usuario es engañado y no sabe que ha sido dirigido a una página web falsa. El usuario inserta el nombre de usuario y la contraseña tranquilamente, entonces los hackers tienen sus credenciales. Los hackers pueden enviar fácilmente los fondos a sus carteras.<br/><br/>Si accedés regularmente a los exchange, una medida de seguridad bastante fácil es marcar estos sitios web en su navegador. Accedé siempre con tus marcadores y estarás seguro.<br/><br/>No almacenes sus criptomonedas en los exchange. Se utilizan para el intercambio, no están destinadas a la custodia de sus criptomonedas. La mayor cantidad de Bitcoin robado se ha debido a los hackeos de los exchange, no a la criptomoneda en sí.<br/><br/>Habilitá la autenticación de dos factores. La autenticación de dos factores es una capa extra de seguridad de validación. Añade un paso extra en el proceso de inicio de sesión, una capa extra de seguridad. Es necesario insertar una contraseña extra para acceder. Esta contraseña es generada por una aplicación (Google authenticator o Authy son los más utilizados en el mercado) almacenada en su smartphone. Cada dos segundos se genera una nueva contraseña para mayor seguridad. El propósito es crear una capa de seguridad externa adicional para dificultar el trabajo al hacker. El hacker tendría que robar su teléfono y tener acceso a él.<br/><br/>Te recordamos que SESOCIO.COM no asume ninguna responsabilidad por cualquier pérdida o consecuencias causadas por el uso autorizado o no autorizado de las credenciales de su cuenta, que incluyen, entre otros, la divulgación de información, la divulgación de información, el consentimiento o la presentación de varias reglas y acuerdos al hacer clic en el sitio web, renovación del acuerdo en línea, etc. <br/><br/>Al crear una cuenta en SESOCIO.COM, por la presente acepta que:<br/>Notificará a SESOCIO.COM de inmediato si tiene conocimiento de cualquier uso no autorizado de su cuenta y contraseña de SESOCIO o cualquier otra violación de las reglas de seguridad; cumplirá estrictamente con todos los mecanismos o procedimientos de SESOCIO.COM con respecto a la seguridad, autenticación, comercio, cobro y retiro; y tomará las medidas adecuadas para cerrar la sesión de SESOCIO.COM al final de cada visita.<br/><br/>TE RECOMENDAMOS LEER ATENTAMENTE TODOS LOS FACTORES DE RIESGOS ASOCIADOS A LAS CRIPTOMONEDAS Y SU USO.<br/><br/>Este contenido y toda la información es únicamente con fines informativos y no constituyen una recomendación de comprar, vender. Asimismo, tampoco tienen como fin ofrecer asesoramiento de inversión, financiero, sobre operaciones ni ningún otro tipo de asesoramiento.<br/><br/>SE SOCIO no se responsabiliza de errores o retrasos que puedan producirse en el contenido ni de ninguna decisión que se tome en base a cualquier contenido."
    },
    "en": {
       "comments": "¿Es seguro invertir en NFTs?<br/><br/>Invertir en NFTs conlleva riesgo al igual que cualquier inversión."
    }
  }
</i18n>

<template>
  <div class="mr-12 text-body-2 white--text text-justify">
    <p class="poppins" v-html="$t('comments')"></p>
  </div>
</template>
