<i18n>
{
  "es": {
    "title": "¿Cómo funciona?",
    "whatIsNft": "¿Qué es un NFT?",
    "buyNft": "¿Comó compro un NFT?",
    "withdrawNft": "¿Cómo retiro mi NFT?",
    "faqsNft": "Preguntas frecuentes",
    "termsconditionsNft": "Términos y condiciones"
  },
  "en": {
    "title": "¿Cómo funciona?",
    "whatIsNft": "¿Qué es un NFT?",
    "buyNft": "¿Comó compro un NFT?",
    "withdrawNft": "¿Cómo retiro mi NFT?",
    "faqsNft": "Preguntas frecuentes",
    "termsconditionsNft": "Términos y condiciones"
  }
}
</i18n>

<template>
  <Wrapper mainContainerClass="black">
    <template slot="content">
      <v-container class="mt-15">
        <v-row>
          <v-col
            cols="12"
            class="mr-12 poppins white--text font-weight-bold"
            style="font-size: 28px"
          >
            {{ $t("title") }}
          </v-col>
          <v-col cols="12">
            <v-chip-group
              mandatory
              active-class="active-chip"
              :center-active="true"
            >
              <v-chip
                v-for="tab in tabs"
                :key="tab.name"
                color="#141416"
                class="white--text px-4"
                @click="currentTab = tab.name"
              >
                {{ tab.text }}
              </v-chip>
            </v-chip-group>
          </v-col>
          <v-col cols="12">
            <component v-bind:is="currentTab"></component>
          </v-col>
        </v-row>
      </v-container>
    </template>
  </Wrapper>
</template>

<script>
import WhatIsNftTab from "./WhatIsNftTab";
import BuyNftTab from "./BuyNftTab";
import FAQNftTab from "./FAQNftTab";
import WithdrawNftTab from "./WithdrawNftTab";
import TermsConditionsNftTab from "./TermsConditionsNftTab";

export default {
  components: {
    WhatIsNftTab,
    BuyNftTab,
    FAQNftTab,
    WithdrawNftTab,
    TermsConditionsNftTab,
  },
  data() {
    return {
      currentTab: "whatIsNftTab",
    };
  },
  computed: {
    tabs() {
      return [
        { text: this.$t("whatIsNft"), name: "WhatIsNftTab" },
        { text: this.$t("buyNft"), name: "BuyNftTab" },
        { text: this.$t("withdrawNft"), name: "WithdrawNftTab" },
        { text: this.$t("faqsNft"), name: "FAQNftTab" },
        { text: this.$t("termsconditionsNft"), name: "TermsConditionsNftTab" },
      ];
    },
  },
};
</script>

<style scoped>
.active-chip {
  background-color: #6400ba !important;
  color: white !important;
}
</style>