<i18n>
  {
    "es": {
      "title": "What Is Nft",
      "comments": "TermsConditionsNftTab."
    },
    "en": {
      "title": "What Is Nft",
       "comments": "TermsConditionsNftTab."
    }
  }
</i18n>

<template>
  <div class="mr-12 text-body-2 white--text text-justify">
    <p class="poppins">
      <strong>TÉRMINOS Y CONDICIONES</strong><br /><br />

      20 de septiembre de 2021<br /><br />
      <strong>Artículo 1 - Definiciones</strong><br />
      A los efectos de estos TyC, los siguientes términos en mayúscula tendrán
      los siguientes significados:<br />
      Comprador Se refiere al usuario que adquiere un NFT en el mercado de
      SeSocio<br />
      Derechos relacionados con los NFT Se refiere a los derechos de patente,
      derechos de imagen, derechos de autor, secretos comerciales, marcas
      comerciales, conocimientos técnicos o cualquier otro derecho de propiedad
      intelectual de terceros reconocido en cualquier país o jurisdicción del
      mundo asociado con los NFT (incluidos, entre otros, los derechos de
      propiedad intelectual derechos de propiedad del club, de la liga o
      derechos de imagen). Criptomoneda Se refiere a cualquier activo digital
      diseñado para funcionar como medio de intercambio en blockchain y aceptado
      como pago en todos los Servicios. Moneda Se refiere a cualquier moneda de
      curso legal (peso, euro, dólar, libras).<br />
      Marketplace Se refiere al servicio ofrecido por SeSocio que permite a los
      Usuarios intercambiar o vender Coleccionables entre ellos. NFT Se refiere
      al token no fungible, que representa la tarjeta digital coleccionable
      (también conocida como cripto-buena o cripto-coleccionable). Este token
      asegura la escasez del Coleccionable y la transparencia de los Servicios.
      Servicios Se refiere a todos los servicios accesibles en el sitio web y
      proporcionados por SeSocio. SeSocio Se refiere a HIMDMORE INVESTMENTS LTD.
      Aleman, Cordero, Galindo & Lee Trust (BVI) Limited P.O. Box 3175, Road
      Town, Tortola, BVI. Términos y condiciones o (TyC) Se refiere a este
      documento. Estos Términos y Condiciones constituyen un acuerdo legalmente
      vinculante (en adelante, los "TyC") entre usted y SeSocio (como se definió
      anteriormente) que rigen su acceso y uso del Sitio Web y todos los
      Servicios asociados. Derechos de terceros Se refiere a los derechos de
      patente, derechos de imagen, derechos de autor, secretos comerciales,
      marcas registradas, conocimientos técnicos o cualquier otro derecho de
      propiedad intelectual de terceros reconocidos en cualquier país o
      jurisdicción del mundo y, en particular, los derechos que puedan estar
      asociado con los NFT. Usuario Se refiere a toda persona física o jurídica
      que utilice los servicios que ofrece el Servicio o visite su sitio web con
      plena capacidad jurídica. Sitio web Se refiere al sitio web
      www.sesocio.com, incluidos los subdominios del mismo, y cualquier otro
      sitio web a través del cual SeSocio ofrece sus servicios.
      <br /><br />
      <strong>Artículo 2 - Alcance</strong><br />
      SeSocio NFT es un sitio web en línea que permite a los Usuarios adquirir,
      coleccionar e intercambiar NFT. El servicio está disponible en el sitio
      web www.sesocio.com. El Usuario reconoce que tiene capacidad para
      contratar y utilizar los Servicios en su país y declara que ha leído y
      aceptado los TyC al marcar la casilla prevista a tal efecto. La creación
      de la cuenta por parte del Usuario constituye la aceptación sin
      restricción ni reserva de estos TyC. Estos TyC son accesibles en cualquier
      momento en el sitio web y prevalecerán sobre cualquier otra versión o
      cualquier otro documento contradictorio.
      <br /><br />
      <strong>Artículo 3 - Servicios</strong><br />
      Elementos y características NFT 3.1. SeSocio ofrece NFT que representan
      derechos de terceros que SeSocio explota bajo licencias otorgadas por los
      titulares de los derechos. Todas las disposiciones contractuales entre
      SeSocio y los titulares de estos derechos son exigibles a los Usuarios.
      Subastas 3.2.1 SeSocio ofrece NFT a la venta a través de subastas en las
      que SeSocio solo establece el precio mínimo antes de que los Usuarios
      pujen por un período de tiempo fijo. El comprador es el último postor. No
      hay precio de reserva. Cualquier oferta registrada en el sitio web a
      través de una cuenta válida se considera auténtica y válida. Las ofertas
      regulares son vinculantes y no pueden retirarse ni modificarse. 3.2.2. La
      subasta se realizara en una moneda estable determinada al momento de la
      publicacion de la subasta. El usuario que realice una oferta en una moneda
      distinta a la moneda de subasta, se realiza un swap por cuenta y orden del
      usuario para poder generar la operación. Es decir el usuario al momento de
      realizar la oferta realiza una operacion de compra de la moneda estable de
      la subasta. Si la oferta es mejorada, el saldo se devuelve siempre en la
      moneda de subasta, es decir en la moneda estable que el usuario compro
      para participar de la subasta. 3.2.3 En el caso de una interrupción del
      servicio (problema técnico), que imposibilite el acceso a una subasta
      dentro de las 4 horas posteriores a su finalización, SeSocio se reserva el
      derecho de extender el período de la subasta o cancelar la subasta para
      reiniciarla más tarde. . 3.2.4 SeSocio también ofrece la venta de paquetes
      coleccionables. Los coleccionables incluidos en el paquete se especifican
      antes de la venta.
      <br /><br />
      <strong>Artículo 4 - Transferencia e intercambio</strong><br />
      4.1 El usuario tiene la posibilidad de retirar sus NFT a partir de Marzo
      2022. 4.2 SeSocio no se hace responsable bajo ninguna circunstancia de
      cualquier daño que pueda ocurrir durante la transferencia, retiro o
      intercambio de NFT fuera del Sitio Web.
      <br /><br />
      <strong>Artículo 5 - Marketplace</strong><br />
      El Mercado de SeSocio es el lugar donde puede intercambiar fácilmente sus
      NFT.
      <br />
      <strong>Artículo 5.1 - Condiciones de uso</strong><br />
      5.1.1 SeSocio proporciona un Mercado que permite a los Usuarios
      intercambiar entre ellos NFT por Criptomonedas u otros NFT. 5.1.2 Este
      artículo se aplicará únicamente a las relaciones entre el Comprador y el
      Vendedor en el contexto del intercambio de un Objeto de NFT en el Sitio
      web. 5.1.3 EL USO DEL MERCADO ESTÁ SUJETO A LA ACEPTACIÓN Y RESPETO
      INCONDICIONALES DE ESTOS T&CS Y ESPECÍFICAMENTE DE LOS SIGUIENTES
      ARTÍCULOS.
      <br /><br />
      <strong>Artículo 5.2 - Venta e intercambio</strong><br />
      5.2.1 Los usuarios que posean NFT tienen la capacidad de venderlos en el
      Marketplace bajo la modalidad p2p. En este caso, el Vendedor es libre de
      fijar el precio de venta fijo ofrecido (la «Oferta») 5.2.2 SeSocio no
      interviene de ninguna manera en la elección de los NFT ofrecidos a la
      venta en el Marketplace ni en la determinación de los precios de venta
      fijados por los Vendedores. De manera más general, SeSocio no interviene
      de ninguna manera en la venta entre el Comprador y el Vendedor dentro del
      Marketplace. En consecuencia, SeSocio nunca actúa como contraparte de esta
      venta. 5.2.3 Más específicamente, SeSocio no interviene de ninguna manera
      en la elección de los NFT ofrecidos a la venta en el Marketplace ni en la
      determinación de los precios de venta fijados por los Vendedores. Los
      Usuarios entienden y aceptan que SeSocio no controla la realidad, la
      relevancia y la equidad de los precios, ya sean excesivos o irrisorios,
      propuestos por los Vendedores. El Comprador es el único responsable de la
      apreciación del precio de los Coleccionables propuestos a través del
      Marketplace.
      <br /><br />
      <strong>Artículo 5.3 - Listado y exclusión de Ofertas</strong><br />
      5.3.1 Cualquier usuario puede incluir una oferta coleccionable en
      Marketplace. Los NFT enumerados en Marketplace son elegidos únicamente por
      los Vendedores que los ofrecen a la venta. 5.3.2 SeSocio se reserva el
      derecho de eliminar del Marketplace las Ofertas de un Vendedor,
      especialmente, pero no exclusivamente, si el Vendedor: no respeta la
      normativa aplicable; no respeta los TyC; está sujeto a una suspensión
      temporal o permanente de su cuenta; hace un uso fraudulento de los
      Servicios.
      <br /><br />
      <strong>Artículo 5.5 - Obligaciones fiscales y de seguridad social</strong
      ><br />
      5.5.1 Existe la probabilidad de que la venta del Objeto de colección, de
      acuerdo con la legislación fiscal aplicable, constituya una renta
      imponible, en particular cuando el precio de venta del Objeto de colección
      es superior a su precio de compra. Se recomienda encarecidamente a los
      usuarios que se pongan en contacto con las autoridades fiscales y de la
      seguridad social competentes para asegurarse de que cumplen con sus
      obligaciones fiscales y, en su caso, con la seguridad social. 5.5.2 Es
      responsabilidad exclusiva de los Usuarios declarar los ingresos por las
      Ventas de su Cobranza a la administración tributaria y la administración
      de la seguridad social competentes.
      <br /><br />
      <strong>Artículo 5.6 - Controversias en el mercado</strong><br />
      5.6.1 Como parte de su Marketplace, SeSocio actúa como un mero
      intermediario entre Vendedores y Compradores. Como tal, SeSocio no se hace
      responsable de los daños causados ​​por una venta, debido al precio o un
      acto realizado por una de las partes. 5.6.2 Además, los servicios
      prestados a través del Marketplace se llevan a cabo únicamente entre el
      Comprador y el Vendedor. No se puede incurrir en responsabilidad de
      SeSocio con respecto a dichos servicios de los que SeSocio no está
      preocupado. 5.6.3 Por tanto, cualquier reclamación potencial debe ser
      dirigida por el Comprador al Vendedor. El vendedor es el único responsable
      del procesamiento de reclamaciones. No obstante, SeSocio se reserva el
      derecho de participar en el arbitraje, a su discreción, si el Vendedor no
      responde a una solicitud ni soluciona una disputa.
      <br /><br />
      <strong>Artículo 6 - Responsabilidad de los usuarios</strong><br />
      6.1.1 El Usuario garantiza a SeSocio contra cualquier incumplimiento,
      superior al riesgo previsible, que pudiera resultar del uso de los
      Servicios. 6.1.2 El Usuario se compromete a utilizar los Servicios solo de
      acuerdo con los TyC. No está autorizado para reconstruir los Servicios,
      descompilar, desensamblar o eludir las restricciones técnicas que
      contiene, excepto en la medida en que dichas operaciones estén permitidas
      por las leyes aplicables. 6.1.3 El Usuario garantiza a SeSocio contra el
      uso fraudulento, injusto o de mala fe del servicio, en particular si esto
      interfiere con el uso del servicio por parte de otros Usuarios.
      <br /><br />
      <strong>Artículo 7.1 - Descargo de responsabilidad</strong><br />
      7.1.1 Los Usuarios entienden y aceptan expresamente que el acceso y uso de
      los Servicios es por cuenta y riesgo del Usuario, y que los Servicios se
      proporcionan "tal cual" y "según disponibilidad" sin garantía de ningún
      tipo, ya sea expresa o implícito, salvo que la ley disponga lo contrario.
      7.1.2 En la máxima medida permitida por la ley, SeSocio no declara ni
      garantiza que: (i) el acceso o el uso de los Servicios será
      ininterrumpido, oportuno, seguro o libre de errores; (ii) los datos de uso
      proporcionados por los Servicios o en el Sitio web siempre serán precisos;
      (iii) los Servicios están libres de software malicioso u otros componentes
      dañinos. 7.1.3 Los usuarios aceptan los riesgos de seguridad inherentes al
      suministro de información, el comercio en línea en Internet y las
      tecnologías experimentales como las cadenas de bloques y los tokens no
      fungibles, y acuerdan que SeSocio no será responsable de ninguna violación
      de la seguridad a menos que sea causada por negligencia grave. por parte
      de SeSocio. 7.1.4 SeSocio no es responsable de las pérdidas incurridas por
      los Usuarios como resultado del uso de la red blockchain y las carteras de
      activos digitales. SeSocio no tiene control sobre la red de la cadena de
      bloques y no será responsable de las pérdidas que surjan de la cadena de
      bloques. 7.1.5 Algunas jurisdicciones no permiten la exclusión de
      garantías implícitas en los contratos de los consumidores, por lo que
      algunas o todas las exclusiones anteriores pueden no aplicarse a todos los
      Usuarios.
      <br /><br />
      <strong>Artículo 8 - Terminación</strong><br />
      8.1.1 El Usuario puede rescindir estos TyC en cualquier momento
      solicitando la eliminación de su cuenta. 8.1.2 SeSocio puede, en cualquier
      momento, por cualquier motivo y a su entera discreción, rescindir estos
      TyC y suspender los Servicios sin previo aviso. Los usuarios acuerdan, en
      la máxima medida permitida por la ley, que cualquier suspensión o
      terminación del acceso a los Servicios puede realizarse sin previo aviso,
      y que SeSocio no será responsable de las consecuencias de dicha suspensión
      o terminación. 8.1.3 En caso de terminación de estos TyC o suspensión de
      la cuenta de un Usuario, SeSocio brindará a los Usuarios la oportunidad de
      retirar sus Coleccionables y Criptomonedas, a menos que la terminación o
      suspensión de la cuenta se haya decidido debido a una violación de estos
      TyC por parte del Usuario o por cualquier presunta actividad fraudulenta,
      abusiva o ilegal. En este último caso, la baja y / o suspensión de la
      cuenta se hará sin perjuicio de cualquier otra acción legal que SeSocio
      pueda emprender contra el Usuario.
      <br /><br />
      <strong>Artículo 9 - Contenido de SeSocio</strong><br />
      9.2.1 Todos los derechos de propiedad intelectual sobre el contenido del
      sitio web, excluyendo el contenido generado por los usuarios, son
      propiedad de SeSocio. Se proporcionan de forma gratuita en el marco
      exclusivo del uso de los Servicios. Por lo tanto, cualquier uso de estos
      contenidos sin el permiso previo de SeSocio es ilegal. 9.2.2 El Usuario es
      el propietario definitivo del NFT que compra de acuerdo con estos TyC, de
      manera legítima y de buena fe. 9.2.3 Sin perjuicio de las disposiciones
      contrarias de estos TyC, el Usuario tiene derecho a disponer libremente de
      los NFT que posee (venta, préstamo, donación, transferencia, etc.). 9.2.4
      Sujeto al cumplimiento de estos TyC, el Usuario está autorizado, de manera
      no exclusiva, a usar, reproducir y exhibir los Derechos Relacionados con
      los NFT que él / ella posee legítimamente, para fines personales y solo
      con fines no comerciales. 9.2.5 Bajo ninguna circunstancia, el Usuario,
      sin el consentimiento previo por escrito de SeSocio, podrá hacer o
      intentar hacer cualquiera de las siguientes acciones con los NFT, sean o
      no propiedad del Usuario: (i) utilizar el NFT de su propiedad con fines
      comerciales, publicidad o promoción de un producto o servicio de terceros;
      (ii) alterar la imagen asociada con el Coleccionable; (iii) intentar
      reclamar cualquier derecho de propiedad intelectual adicional relacionado
      con el Coleccionable.
    </p>
  </div>
</template>
