<i18n>
  {
    "es": {
      "comments": "NFT significa token no fungible. Es un token digital que representa activos exclusivos que pueden utilizarse como prueba de la autenticidad y de la propiedad de activos digitales y de activos físicos tokenizados.<br/>Gracias a la tecnología de SeSocio, la plataforma reúne a artistas, creadores y amantes de las criptomonedas para ofrecerles todo tipo de obras de arte y coleccionables digitales, basado en la infraestructura de la cadena de bloques.<br/>Aprende más en  <a href='https://www.sesocio.com/articles/2021/08/02/nfts?sscool=crypto_guide'>este artículo<a/>."
    },
    "en": {
       "comments": "NFT significa token no fungible. Es un token digital que representa activos exclusivos que pueden utilizarse como prueba de la autenticidad y de la propiedad de activos digitales y de activos físicos tokenizados. Gracias a la tecnología de Se Socio, la plataforma reúne a artistas, creadores y amantes de las criptomonedas para ofrecerles todo tipo de obras de arte y coleccionables digitales, basado en la infraestructura de la cadena de bloques. Aprende más en *este artículo*."
    }
  }
</i18n>

<template>
  <div class="mr-12 text-body-2 white--text text-justify">
    <p class="poppins" v-html="$t('comments')"></p>
  </div>
</template>
