<i18n>
  {
    "es": {
      "comments": "¿Cuándo y cómo podré retirar mi NFT?<br/> <br/>Estamos trabajando para que los NFTs sean retirables. Aproximadamente durante el primer trimestre del año 2022 tendremos la funcionalidad disponible. <br/> <br/> Cuando se habiliten los retiros se indicará claramente que red utilizar y funcionará de manera similar a un retiro de crypto cualquiera"
    },
    "en": {
      "comments": "¿Es seguro invertir en NFTs?<br/><br/>Invertir en NFTs conlleva riesgo al igual que cualquier inversión."
    }
  }
</i18n>

<template>
  <div class="mr-12 text-body-2 white--text text-justify">
    <p class="poppins" v-html="$t('comments')"></p>
  </div>
</template>
