<i18n>
  {
    "es": {
      "congrats": "¡Increible, felicitaciones!",
      "summary": "Tu oferta es actualmente la mejor de todas. Quedate atento a las novedades.",
      "back": "Volver",
      "view_more": "Ver más NFTs",
      "meta_title": "SeSocio | ¡Felicitaciones! Tu oferta es actualmente la mejor."
    },
    "es-AR": {
      "congrats": "¡Increible, felicitaciones!",
      "summary": "Tu oferta es actualmente la mejor de todas. Quedate atento a las novedades.",
      "back": "Volver",
      "view_more": "Ver más NFTs",
      "meta_title": "SeSocio | ¡Felicitaciones! Tu oferta es actualmente la mejor."
    },
    "en": {
      "congrats": "¡Increible, felicitaciones!",
      "summary": "Tu oferta es actualmente la mejor de todas. Quedate atento a las novedades.",
      "back": "Volver",
      "view_more": "Ver más NFTs",
      "meta_title": "SeSocio | Congratulations! Your offer is currently the best."
    },
    "pt": {
      "meta_title": "SeSocio | Parabéns! A sua oferta é actualmente a melhor."
    }
  }
</i18n>

<template>
  <div class="bg-dark white--text">
    <template v-if="offerStatus == 'processing' || offerStatus == ''">
      <Loading />
    </template>
    <template v-else-if="offerStatus == 'canceled'">
      <Wrapper mainContainerClass="bg-dark">
        <template slot="content">
          <Error type="error" />
        </template>
      </Wrapper>
    </template>
    <template v-else>
      <Wrapper mainContainerClass="bg-dark">
        <template slot="content">

          <div class="contentCongrats px-4">
            <div class="d-flex flex-column" :class="alignClass">
              <h1 class="dianthus-primary--text" :class="titleClass">
                {{$t('congrats')}}
              </h1>
              <span class="subtitle-1 mt-2">
                {{$t('summary')}}
              </span>
              <div class="col text-center mt-5">
                <v-img class="mx-auto" max-width="430px" src="../../../assets/images/congrats.png" />
              </div>
            </div>

            <div class="mt-5 d-flex justify-center">
              <v-col class="mw230 pa-0" xs="12" sm="3">
                <v-btn block color="#41FFAF" to="/nft" large outlined>{{$t('view_more')}}</v-btn>
              </v-col>
            </div>
          </div>

        </template>
      </Wrapper>
    </template>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import Loading from '../components/Loading';
import Error from '../components/Error';

export default {
  components: {Loading, Error},
  head: {
    title: function () {
      return {
        inner: this.meta_title,
      }
    }
  },
  data() {
    return {
      interval: false,
      counter: 5
    };
  },
  computed: {
    ...mapState("nft_bid", ["project", "checkout", "offerStatus"]),
    titleClass(){
      if(this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl || this.$vuetify.breakpoint.md) return 'display-2';
      if(this.$vuetify.breakpoint.xs || this.$vuetify.breakpoint.sm) return 'headline';
    },
    alignClass(){
      if(this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl || this.$vuetify.breakpoint.md) return 'text-center';
      if(this.$vuetify.breakpoint.xs || this.$vuetify.breakpoint.sm) return 'text-left';
    },
    meta_title(){
      return this.$t('meta_title');
    }
  },
  methods: {
    ...mapActions("nft_bid", ["getOfferStatus"]),
    trackEvent(){
      this.triggerGTMEvent(
        `nft-offer-flow-success`, //event
        'UserActivity', //category
        'NftInvestment', //action
        `${this.$route.params.title_id}/${this.$route.params.nft_collection_name_id}` //label
      );
    },
    async checkStatus(){
      if(this.interval && this.counter > 0){
        this.counter--;
        await this.getOfferStatus({checkout: this.checkout.id});
        if(this.offerStatus == 'confirmed' || this.offerStatus == 'project_pending'){
          this.interval = false;
        } else {
          var self = this;
          setTimeout(function(){
            self.checkStatus();
          },5000);
        }
      }
      if(this.counter==0 && this.offerStatus == 'processing' || this.offerStatus == ''){
        this.interval = false;
        this.$router.push('/movements');
      }
    },
  },
  watch: {
  },
  async created() {
    //si no tiene amount ni currency volver a primer paso
    if(this.checkout == null) {
      this.$router.push(`/nft/${this.$route.params.nft_collection_name_id}/${this.$route.params.title_id}/offer`);
    } else {
      await this.getOfferStatus({checkout: this.checkout.id});
  
      if(this.offerStatus == 'processing'){
        this.interval = true;
        this.checkStatus();
      }
    }

  },
  mounted() {
    this.trackEvent();
  },
  beforeMount() {
    this.$emit('updateHead');
  }
};
</script>

<style scoped>
  .contentCongrats {
    margin: 70px 0;
  }

</style>
