<i18n>
  {
    "es": {
      "title": "Ofertar",
      "meta_title": "SeSocio | Oferta por el NFT {nft} de {artist}"
    },
    "es-AR": {
      "title": "Ofertar",
      "meta_title": "SeSocio | Ofertá por el NFT {nft} de {artist}"
    },
    "pt": {
      "meta_title": "SeSocio | Licitação para o NFT {nft} de {artist}"
    },
    "en": {
      "title": "Ofertar",
      "meta_title": "SeSocio | Bid for the NFT [{nft} of {artist}"
    }
  }
</i18n>

<template>
  <div class="bg-dark white--text">

    <Breadcrumbs
      backEvent="goBack"
      :back="step != 'reinvest' && step != 'confirm' && step != 'todo_pago'"
      :title="$t('title')"
      @goBack="goBack()"
      dark
    ></Breadcrumbs>
    <Wrapper mainContainerClass="bg-dark">
      <template slot="content">
          <v-card flat :rounded="isXsSm() ? '4' : '0'" class="bg-dark-card white--text mx-auto mb-5 mh427">
            <template v-if="!loading_project">
              <v-card-title class="px-8 headline dianthus-primary--text">
                {{project.title}}
              </v-card-title>
              <v-divider dark></v-divider>
              <v-window v-model="step" touchless>
                <v-window-item value="currency">
                  <Currencies />
                </v-window-item>
                <v-window-item value="amount">
                  <Amount />
                </v-window-item>
              </v-window>
            </template>
            <template v-else>
              <v-card-text class="ma-5 d-flex justify-center align-center">
                <v-progress-circular :size="32" color="dianthus-primary" indeterminate></v-progress-circular>
              </v-card-text>
            </template>
          </v-card>
      </template>
    </Wrapper>

  </div>
</template>

<script>
  import { mapActions, mapState } from "vuex";
  import Breadcrumbs from '@/modules/core/components/Breadcrumbs';
  import Currencies from '../components/Currencies';
  import Amount from '../components/Amount';

  export default {
    components: {Breadcrumbs, Currencies, Amount},
    head: {
      title: function () {
        return {
          inner: this.meta_title,
        }
      }
    },
    data() {
      return {
        title: this.$t('title'),
      };
    },
    computed: {
      ...mapState('user', [
        'isLoggedIn'
      ]),
      ...mapState('nft_bid', [
        'project', 'loading_project', 'steps', 'step', 'selected_currency'
      ]),
      meta_title(){
        return this.$t('meta_title', {nft: this.project.title, artist: (this.project.nftCollection) ? this.project.nftCollection.nftAuthor.name : ''});
      }
    },
    methods: {
      ...mapActions('nft_bid', [
        'getProject', 'goToStep', 'setSelectedCurrency', 'cleanSelectedCurrency'
      ]),
      trackEvent(){
        this.triggerGTMEvent(
          `nft-offer-flow`, //event
          'UserActivity', //category
          'NftInvestment', //action
          `${this.$route.params.title_id}/${this.$route.params.nft_collection_name_id}` //label
        );
      },
      goBack() {
        let arr = [];
        let currentStep = 0;
        let err = Object.keys(this.steps).map((obj, k) => {
          if(this.steps[obj]) {
            currentStep = k;
          }
          arr.push(obj);
        }, {});

        if(currentStep > 0) {
          let prevStep = currentStep - 1;
          this.goToStep(arr[prevStep]);
        } else {
          window.history.back();
        }
      },
    },
    watch: {
      project(v){
        this.title = `${this.$t('title')} por ${this.project.title}`;
      }
    },
    async beforeMount() {
      this.cleanSelectedCurrency();
      if(this.selected_currency == null) {
        this.goToStep('currency');
      }
      // FILTAR POR PROYECT_SUBTYPE NFT EN EL REQUEST
      await this.getProject({title_id: this.$route.params.title_id});
      this.$emit('updateHead');
    },
    mounted() {
      this.trackEvent();
    },
  }
</script>

<style scoped>
  .loaderContent{
    min-height: 427px;
  }

  .mh427 {
    min-height: 427px;
  }
</style>
