<i18n>
  {
    "es": {
      "meta_title": "SeSocio | Superaron tu oferta, ¡Inténtalo de nuevo!"
    },
    "es-AR": {
      "meta_title": "SeSocio | Superaron tu oferta, ¡Inténtalo de nuevo!"
    },
    "pt": {
      "meta_title": "SeSocio | Eles ultrapassam-te, tenta de novo!"
    },
    "en": {
      "meta_title": "SeSocio | Someone beat your offer, try again!"
    }
  }
</i18n>

<template>
  <div class="bg-dark white--text">

    <Wrapper mainContainerClass="bg-dark">
      <template slot="content">

        <Error />

      </template>
    </Wrapper>

  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import Error from '../components/Error';

export default {
  components: {Error},
  head: {
    title: function () {
      return {
        inner: this.meta_title,
      }
    }
  },
  data() {
    return {
    };
  },
  computed: {
    ...mapState("nft_bid", ["project", "selected_currency", "amount", "checkout"]),
    titleClass(){
      if(this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl || this.$vuetify.breakpoint.md) return 'display-2';
      if(this.$vuetify.breakpoint.xs || this.$vuetify.breakpoint.sm) return 'headline';
    },
    alignClass(){
      if(this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl || this.$vuetify.breakpoint.md) return 'text-center';
      if(this.$vuetify.breakpoint.xs || this.$vuetify.breakpoint.sm) return 'text-left';
    },
    actionsFlexClass(){
      if(this.$vuetify.breakpoint.xs) return 'flex-column';
      if(!this.$vuetify.breakpoint.xs) return 'flex-row';
    },
    meta_title(){
      return this.$t('meta_title');
    }
  },
  methods: {
  },
  watch: {
  },
  mounted() {
  },
  beforeMount() {
    //si no tiene amount ni currency volver a primer paso
    if(this.checkout == null) {
      this.$router.push(`/nft/${this.$route.params.nft_collection_name_id}/${this.$route.params.title_id}/offer`);
    }
    this.$emit('updateHead');
  }
};
</script>

<style scoped>
  .contentCongrats {
    margin: 70px 0;
  }

</style>
