<i18n>
  {
    "es": {
      "breadcrums_title": "Confirmación oferta",
      "confirm_title": "Confirmación de oferta por {title}",
      "verify_data": "Por favor, <strong>verifica los datos</strong> antes de confirmar tu oferta.",
      "total_bid": "Total a ofertar",
      "last_price_last_bid": "Precio actual",
      "remember_confirmation": "Recordá que tu oferta será válida si al momento de confirmar la operación es la mejor oferta vigente. En el caso de que tu oferta sea mejorada por otro comprador, recibirás el reembolso del saldo ofertado en la moneda del proyecto.",
      "back": "Volver",
      "confirm": "Confirmar",
      "understand": {
        "default": "<strong>Términos y condiciones:</strong> Entiendo que SeSocio es una plataforma que junta proyectos de terceros con inversores, que toda inversión conlleva <a target='_blank' href='/investment_risk' class='primary--text'>riesgos</a> y que SeSocio no administra y no puede predecir el resultado de las mismas. Confirmo una vez más que leí, entendí y acepté los <a target='_blank' href='{terms_link}' class='primary--text'>términos y condiciones</a> aplicables al uso del sitio web, y que comprendo y acepto los riesgos inherentes a las inversiones que realice y pretendo realizar.",
        "co": "<strong>Términos y condiciones:</strong> Entiendo que SeSocio es una plataforma que junta proyectos de terceros con inversores, que toda inversión conlleva <a target='_blank' href='/investment_risk' class='primary--text'>riesgos</a> y que SeSocio no administra y no puede predecir el resultado de las mismas. Confirmo una vez más que leí, entendí y acepté los <a target='_blank' href='{terms_link}' class='primary--text'>términos y condiciones</a> aplicables al uso del sitio web, y que comprendo y acepto los riesgos inherentes a las inversiones que realice y pretendo realizar. Para que se confirme mi inversión voy a cargar la documentación que se requiera.<br />Declaro conocer y aceptar los Términos y Condiciones necesarios para llevar a cabo esta transacción, por lo que autorizo a SeSocio.com a debitar automáticamente los activos digitales correspondientes a <strong>{amount}</strong> de mi billetera virtual ubicada en mi cuenta de www.sesocio.com, para ser destinados(as) a <strong>{project}</strong> a cambio de <strong>{tokens}</strong> tokens."
      },
      "meta_title": "SeSocio | Oferta por el NFT {nft} de {artist}"
    },
    "es-AR": {
      "breadcrums_title": "Confirmación oferta",
      "confirm_title": "Confirmación de oferta por {title}",
      "verify_data": "Por favor, <strong>verificá los datos</strong> antes de confirmar tu oferta.",
      "total_bid": "Total a ofertar",
      "last_price_last_bid": "Precio actual",
      "remember_confirmation": "Recordá que tu oferta será válida si al momento de confirmar la operación es la mejor oferta vigente. En el caso de que tu oferta sea mejorada por otro comprador, recibirás el reembolso del saldo ofertado en la moneda del proyecto.",
      "back": "Volver",
      "confirm": "Confirmar",
      "understand": {
        "default": "<strong>Términos y condiciones:</strong> Entiendo que SeSocio es una plataforma que junta proyectos de terceros con inversores, que toda inversión conlleva <a target='_blank' href='/investment_risk' class='primary--text'>riesgos</a> y podría conllevar la perdida total de mi capital, que SeSocio no administra y no puede predecir el resultado de las mismas y que la cotización y monto de la operación se confirman luego de aprobado el pago. Confirmo una vez más que leí, entendí y acepté los <a target='_blank' href='{terms_link}' class='primary--text'>términos y condiciones</a> aplicables al uso del sitio web, y que comprendo y acepto los riesgos inherentes a las inversiones que realice y pretendo realizar.",
        "co": "<strong>Términos y condiciones:</strong> Entiendo que SeSocio es una plataforma que junta proyectos de terceros con inversores, que toda inversión conlleva <a target='_blank' href='/investment_risk' class='primary--text'>riesgos</a> y que SeSocio no administra y no puede predecir el resultado de las mismas. Confirmo una vez más que leí, entendí y acepté los <a target='_blank' href='{terms_link}' class='primary--text'>términos y condiciones</a> aplicables al uso del sitio web, y que comprendo y acepto los riesgos inherentes a las inversiones que realice y pretendo realizar. Para que se confirme mi inversión voy a cargar la documentación que se requiera.<br />Declaro conocer y aceptar los Términos y Condiciones necesarios para llevar a cabo esta transacción, por lo que autorizo a SeSocio.com a debitar automáticamente los activos digitales correspondientes a <strong>{amount}</strong> de mi billetera virtual ubicada en mi cuenta de www.sesocio.com, para ser destinados(as) a <strong>{project}</strong> a cambio de <strong>{tokens}</strong> tokens."
      },
      "meta_title": "SeSocio | Ofertá por el NFT {nft} de {artist}"
    },
    "en": {
      "breadcrums_title": "Confirmación oferta",
      "confirm_title": "Confirmación de oferta por {title}",
      "verify_data": "Por favor, <strong>verifica los datos</strong> antes de confirmar tu oferta.",
      "total_bid": "Total a ofertar",
      "last_price_last_bid": "Precio actual",
      "remember_confirmation": "Recordá que tu oferta será válida si al momento de confirmar la operación es la mejor oferta vigente. En el caso de que tu oferta sea mejorada por otro comprador, recibirás el reembolso del saldo ofertado en la moneda del proyecto.",
      "back": "Volver",
      "confirm": "Confirmar",
      "understand": {
        "default": "<strong>Terms and condition:</strong> I understand that SeSocio is a platform that brings together third-party projects with investors, that any investment entails <a target='_blank' href='/investment_risk' class='primary--text'> risks </a> and that SeSocio does not administer and can not predict the outcome of them. I confirm once again that I read, understood and accepted the <a target='_blank' href='{terms_link}' class='primary--text'>terms and conditions </a> applicable to the use of the website, and that I understand and accept the risks inherent in the investments I make and intend to make.",
        "co": "<strong>Términos y condiciones:</strong> Entiendo que SeSocio es una plataforma que junta proyectos de terceros con inversores, que toda inversión conlleva <a target='_blank' href='/investment_risk' class='primary--text'>riesgos</a> y que SeSocio no administra y no puede predecir el resultado de las mismas. Confirmo una vez más que leí, entendí y acepté los <a target='_blank' href='{terms_link}' class='primary--text'>términos y condiciones</a> aplicables al uso del sitio web, y que comprendo y acepto los riesgos inherentes a las inversiones que realice y pretendo realizar. Para que se confirme mi inversión voy a cargar la documentación que se requiera.<br />Declaro conocer y aceptar los Términos y Condiciones necesarios para llevar a cabo esta transacción, por lo que autorizo a SeSocio.com a debitar automáticamente los activos digitales correspondientes a <strong>{amount}</strong> de mi billetera virtual ubicada en mi cuenta de www.sesocio.com, para ser destinados(as) a <strong>{project}</strong> a cambio de <strong>{tokens}</strong> tokens."
      },
      "meta_title": "SeSocio | Bid for the NFT [{nft} of {artist}"
    },
    "pt": {
      "meta_title": "SeSocio | Licitação para o NFT {nft} de {artist}"
    }
  }
</i18n>

<template>
  <div class="bg-dark white--text">

    <Breadcrumbs
      backEvent="goBack"
      :back="true"
      :title="$t('breadcrums_title')"
      @goBack="goBack()"
      dark
      v-if="!creating_offer"
    ></Breadcrumbs>

    <Wrapper mainContainerClass="bg-dark">
      <template slot="content">
        <div class="py-5" :class="{'px-8': !isXsSm(), 'px-2': isXsSm()}">
          <v-row no-gutters class="d-flex flex-column">
            <h1 class="headline dianthus-primary--text">{{$t('confirm_title', {title: project.title})}}</h1>
            <span class="subtitle-1 mt-2" v-html="$t('verify_data')"></span>
          </v-row>
        </div>

        <div>
          <v-row no-gutters>
            <v-card flat class="bg-dark-card white--text w100 rounded10" :class="{'pa-5': !isXsSm(), 'pa-1': isXsSm()}">
              <div class="d-flex flex-row align-center">
                <v-col sm="4">
                  <span class="white--text font-weight-bold" :class="totalTextClass">
                    {{$t('total_bid')}}
                  </span>
                </v-col>
                <v-col sm="8" class="text-right">
                  <span class="white--text font-weight-bold" :class="priceClass">
                    {{currencyFormat(checkout.amount, 'custom', selected_currency.parts_presicion)}} {{checkout.currency}}
                  </span>
                </v-col>
              </div>
            </v-card>
          </v-row>
        </div>

        <div class="mt-3" :class="{'mb-8': !isXsSm(), 'mb-3': isXsSm()}">
          <div class="d-flex flex-row justify-center w100" :class="{'px-5': !isXsSm(), 'px-1': isXsSm()}">
            <v-col sm="6" :class="{'pt-0': isXsSm()}">
              <span :class="{'subtitle-2': isXsSm(), 'title': !isXsSm()}" v-html="$t('last_price_last_bid')"></span>
            </v-col>
            <v-col sm="6" class="text-right" :class="{'pt-0': isXsSm()}">
              <span :class="{'subtitle-2': isXsSm(), 'title': !isXsSm()}">
                {{currencyFormat(project.partValue, 'custom', project.parts_presicion)}} {{project.currency}}
              </span>
            </v-col>
          </div>
        </div>

        <v-divider dark></v-divider>

        <v-card-text class="pa-0 my-5">
          <div class="d-flex flex-wrap">
            <div class="col pt-1 pb-1">
              <strong class="body-1" :class="{'grey--text text--darken-1': !isXsSm()}">
                {{$t('remember_confirmation')}}
              </strong>
            </div>
          </div>
        </v-card-text>

        <v-divider dark></v-divider>

        <v-card-text class="pa-0 my-5" :class="{'px-2': isXsSm()}">
          <div class="d-flex flex-wrap">
            <div class="col3">
              <v-checkbox data-test-termsinvest="true" id="terms_checkbox" class="mt-2" v-model="terms" dark color="primary"></v-checkbox>
            </div>
            <div :class="{'ml-n3': isXsSm()}" class="col grey--text text--darken-1 linkNoDeco caption-2" v-html="termsText"></div>
          </div>
        </v-card-text>

        <v-card-text class="pa-0 my-5" :class="{'px-2': isXsSm()}">
          <div class="d-flex flex-row">
            <v-alert
              border="left"
              colored-border
              type="error"
              elevation="0"
              :value="snackError"
              class="mt-5 w100"
              dark
            >
              <v-flex class="text-left" v-html="snackErrorMessage">
              </v-flex>
            </v-alert>
          </div>
        </v-card-text>

        <v-card-actions class="pt-0 pb-5 d-flex justify-center" :class="actionsFlexClass">
          <v-col class="mw230 text-right pa-2" xs="12" sm="3">
            <v-btn block dark color="#41FFAF" @click="goBack()" large outlined>{{$t('back')}}</v-btn>
          </v-col>
          <v-col class="mw230 pa-2" xs="12" sm="3">
            <v-btn :loading="creating_offer" block :dark="!terms" color="#41FFAF" @click="confirmOffer()" :disabled="!terms" large>{{$t('confirm')}}</v-btn>
          </v-col>
        </v-card-actions>

      </template>
    </Wrapper>

  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import Breadcrumbs from '@/modules/core/components/Breadcrumbs';

export default {
  components: {Breadcrumbs},
  data() {
    return {
      customCountryTerms: ['CO'],
      terms: false,
      snackError: false,
      snackErrorMessage: "",
    };
  },
  computed: {
    ...mapState("nft_bid", ["project", "selected_currency", "amount", "step", "checkout", "creating_offer", "offer"]),
    termsText() {
      let params = {terms_link: '/terms'},
          terms = 'default';

      // if (this.customCountryTerms.includes(this.current.country)) {
      //   terms = this.current.country.toLowerCase();
      //   params.terms_link = process.env['VUE_APP_TERMS_' + this.current.country];
      //   params.amount = this.currencyFormat(this.amount, this.selectedCurrencyType) + ' ' + this.selectedCurrency.name;
      //   params.tokens = this.checkout.partsTotalView;
      //   params.project = this.project.name;
      // }

      return this.$t('understand.' + terms, params);
    },
    actionsFlexClass(){
      if(this.$vuetify.breakpoint.xs) return 'flex-column flex-column-reverse px-1';
      if(!this.$vuetify.breakpoint.xs) return 'flex-row px-5';
    },
    totalTextClass(){
      if(this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl || this.$vuetify.breakpoint.md) return 'title-2';
      if(this.$vuetify.breakpoint.xs || this.$vuetify.breakpoint.sm) return 'title-3';
    },
    priceClass(){
      if(this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl || this.$vuetify.breakpoint.md) return 'headline';
      if(this.$vuetify.breakpoint.xs || this.$vuetify.breakpoint.sm) return 'title-3';
    },
    meta_title(){
      return this.$t('meta_title', {nft: this.project.title, artist: this.project.nftCollection.nftAuthor.name});
    }
  },
  methods: {
    ...mapActions("nft_bid", ["goToStep", "setOffer"]),
    goBack() {
      window.history.back();
    },
    trackEvent(){
      this.triggerGTMEvent(
        `nft-offer-flow-confirm-offer`, //event
        'UserActivity', //category
        'NftInvestment', //action
        `${this.$route.params.title_id}/${this.$route.params.nft_collection_name_id}` //label
      );
    },
    confirmOffer(){
      this.trackEvent();
      this.checkout.status = "confirmed";
      this.setOffer(this.checkout);
    },
    processResponse(resp){
      if(resp.hasOwnProperty('errors') && Object.keys(resp.errors).length > 0){
        let msg = "";
        let count = 0;
        let err = Object.keys(resp.errors).map((obj, k) => {
          count++;
          var e = resp.errors[obj].message;

          if(typeof e == "string") {
            if(count == 1){
              msg+= `<ul class="snackErrorList"><li>${e}</li>`;
            } else {
              msg+= `<li>${e}</li>`;
            }
          }

          if(typeof e == "object") {
            Object.keys(e).map((subObj, subK) => {
              if(count == 1){
                msg+= `<ul class="snackErrorList"><li>${e[subObj]}</li>`;
              } else {
                msg+= `<li>${e[subObj]}</li>`;
              }
            });
          }

        }, {});

        if (count > 0) {
          msg+= `</ul>`;
          this.snackError = true;
          this.snackErrorMessage = msg;
        } else {
          this.snackError = false;
          this.snackErrorMessage = "";
        }

      } else if(resp.errors && resp.errors.status == 500) {
        let msg = "";
        msg = this.$t('error_ocurred');
        this.snackError = true;
        this.snackErrorMessage = msg;
      } else if(resp.errors && resp.errors.status == 405) {
        this.snackError = false;
        this.snackErrorMessage = "";
        this.$router.push(`/nft/${this.$route.params.nft_collection_name_id}/${this.$route.params.title_id}/offer/outbided`);
      } else {
        this.snackError = false;
        this.snackErrorMessage = "";

        this.$router.push(`/nft/${this.$route.params.nft_collection_name_id}/${this.$route.params.title_id}/offer/congrats`);
      }
    },
  },
  watch: {
    offer(v){
      this.processResponse(v);
    }
  },
  created() {
    if(this.checkout == null) {
      this.$router.push(`/nft/${this.$route.params.nft_collection_name_id}/${this.$route.params.title_id}/offer`);
    }
  },
  mounted() {
  },
  beforeMount() {
    this.$emit('updateHead');
  }
};
</script>

<style scoped>
  .overline-2 {
    font-size: 0.725rem !important;
  }

  .currencyAmountWidth {
    width: 100%;
    max-width: 425px;
  }

  .amount_input {
    width: 100%;
    position: relative;
    top:4px;
  }

  .availableWidth {
    width: 100%;
    max-width: 425px;
  }

  .snackErrorList {
    list-style-type: none;
  }

  .mw230 {
    min-width:230px;
  }

  .rounded10 {
    border-radius: 10px;
  }

</style>
