//DARK
:root {
  --dark-base: #141416;
  --dark-card: #20252a;
  --dark-disabled-color: #00b07f;
}

.bg-dark { background-color: var(--dark-base) !important }
.bg-dark-card { background-color: var(--dark-card) !important }