<i18n src="../locales/home.json"></i18n>
<template>
  <div>
    <PrincipalBanner />
    <NftAllCollections />
    <Nfts />
    <MostVoted />
    <AboutNft />
    <NftInfo />
    <Wrapper mainContainerClass="black">
      <template slot="content">
        <v-container class="my-10">
          <v-divider class="mb-4" dark></v-divider>
          <v-row>
            <v-col cols="12">
              <p
                class="
                  poppins
                  text-subtitle-1
                  font-weight-semibold
                  mb-0
                  white--text
                "
              >
                {{ $t("twitter.text") }}
                <a
                  class="
                    poppins
                    text-subtitle-1
                    font-weight-semibold
                    white--text
                  "
                  href="https://twitter.com/SeSocioNFT"
                  target="_blank"
                >
                  {{ $t("twitter.link") }}
                </a>
                <v-icon class="ml-1" color="#1dabdd">mdi-twitter</v-icon>
              </p>
            </v-col>
          </v-row>
        </v-container>
      </template>
    </Wrapper>
  </div>
</template>

<script>
import PrincipalBanner from "../components/PrincipalBanner.vue";
import NftAllCollections from "../components/NftAllCollections.vue";
import Nfts from "../components/Nfts.vue";
import AboutNft from "../components/AboutNft.vue";
import MostVoted from "../components/MostVoted.vue";
import NftInfo from "../components/NftInfo/index.vue";
import Wrapper from "../../core/Wrapper.vue";

export default {
  components: {
    PrincipalBanner,
    NftAllCollections,
    Nfts,
    AboutNft,
    MostVoted,
    NftInfo,
    Wrapper,
  },
  head: {
    title: function () {
      return {
        inner: this.$t("meta_title"),
      };
    },
    // Meta tags
    meta() {
      let metas = [
        {
          name: "application-name",
          content: "SeSocio",
          id: "appnameid",
        },
        {
          name: "description",
          content: this.$t("meta_description"),
          id: "desc", // id to replace intead of create element
        },
        // Twitter
        {
          name: "twitter:title",
          content: this.$t("meta_title"),
          id: "twtitle",
        },
        // with shorthand
        {
          n: "twitter:description",
          c: this.$t("meta_description"),
          id: "twdesc",
        },
        {
          n: "twitter:site",
          c: "@sesociocom",
          id: "twsite",
        },
        {
          n: "twitter:creator",
          c: "@sesociocom",
          id: "twcreator",
        },
        {
          n: "twitter:card",
          c: "summary_large_image",
          id: "twcard",
        },
        {
          n: "twitter:image",
          c: process.env.VUE_APP_BASE_URL + "img/isologo.png",
          id: "twimage",
        },
        {
          n: "twitter:domain",
          c: "sesocio.com",
          id: "twdomain",
        },
        {
          n: "twitter:url",
          c:
            process.env.VUE_APP_BASE_URL +
            this.$router.currentRoute.path.substr(1),
          id: "twurl",
        },
        // Google+ / Schema.org
        {
          itemprop: "name",
          content: this.$t("meta_title"),
          id: "gname",
        },
        {
          itemprop: "description",
          content: this.$t("meta_description"),
          id: "gdesc",
        },
        // Facebook / Open Graph
        {
          property: "fb:app_id",
          content: "205875806419296",
          id: "fbid",
        },
        {
          property: "og:title",
          content: this.$t("meta_title"),
          id: "ogtitle",
        },
        // with shorthand
        {
          p: "og:image",
          c: process.env.VUE_APP_BASE_URL + "img/isologo.png",
          id: "ogimage",
        },
        {
          p: "og:url",
          c:
            process.env.VUE_APP_BASE_URL +
            this.$router.currentRoute.path.substr(1),
          id: "ogurl",
        },
        {
          p: "og:site_name",
          c: "SeSocio",
          id: "ogsitename",
        },
        {
          p: "og:description",
          c: this.$t("meta_description"),
          id: "ogdesc",
        },
        {
          p: "og:type",
          c: "article",
          id: "ogtype",
        },
      ];
      return metas;
    },
  },
};
</script>
