<template>
  <Wrapper mainContainerClass="transparent">
    <template slot="content">
      <v-container class="pa-0">
        <v-row>
          <v-col cols="12" class="px-0">
            <div
              class="subtitle-1 white--text detailsFaq"
              v-html="contentDetail"
            ></div>
          </v-col>
        </v-row>
      </v-container>
    </template>
  </Wrapper>
</template>

<script>
import { mapState } from "vuex";
import Wrapper from "../../../core/Wrapper.vue";

export default {
  components: {
    Wrapper,
  },
  data() {
    return {
      faqId: null,
    };
  },
  computed: {
    ...mapState("nft_project_detail", ["project", "loading"]),
    contentDetail() {
      return this.project[`contentDetail${this.faqId}`];
    }
  },
  methods: {
    isFaq() {
      for (let i = 1; i <= 6; i++) {
        let prop = `contentTitle${i}`;
        if (
          this.project[prop] &&
          this.project[prop].toLowerCase().trim() == "preguntas frecuentes"
        ) {
          this.faqId = i;
        }
      }
    },
  },
  beforeMount() {
    this.isFaq();
  },
};
</script>

<style lang="scss" scoped>
::v-deep .detailsFaq {
  h3 {
    font-size: 18px;
    font-weight: normal;
    font-family: 'Poppins';
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 700;

    &:first-child {
      padding-top: 0 !important;
      border-top: none !important;
    }
  }

  p {
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
  }
}
</style>