<i18n src="../../locales/forum.json"></i18n>
<template>
  <Wrapper mainContainerClass="transparent">
    <template slot="content">
      <v-container class="pa-0">
        <v-row class="px-md-2">
          <v-col cols="12" class="px-0">
            <p class="white--text font-weight-bold poppins text-18 mb-0">
              {{ $t("forum_top_text") }}
            </p>
          </v-col>
          <v-col cols="12" class="px-0">
            <template v-if="isLoggedIn">
              <v-flex v-if="!banned" class="d-flex flex-column">
                <ArticleTextarea
                  :is_reply="false"
                  :is_foro="project.articleId"
                  :article_comments="article_comments"
                  :banned="!current.can_comment_social_network"
                  :dark-mode="true"
                />
              </v-flex>
            </template>
            <v-card v-else color="grey darken-3" flat dark>
              <v-card-text
                class="
                  pa-5
                  d-flex
                  flex-column flex-md-row
                  align-center
                  justify-space-between
                "
              >
                <span class="subtitle-1 mb-2 mb-md-0">{{
                  $t("login_message")
                }}</span>
                <div>
                  <v-btn color="primary" outlined @click="registerToComment">{{
                    $t("register")
                  }}</v-btn>
                  <v-btn color="primary" class="ml-3" @click="logToComment">{{
                    $t("login")
                  }}</v-btn>
                </div>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" class="px-0">
            <ArticleComment
              v-for="comment in article_comments"
              :key="comment.id"
              :banned="!current.can_comment_social_network"
              :data="comment"
              :is_reply="false"
              :dark-mode="true"
            ></ArticleComment>
          </v-col>
        </v-row>
      </v-container>
    </template>
  </Wrapper>
</template>

<script>
import { mapActions, mapState } from "vuex";
import Wrapper from "../../../core/Wrapper.vue";
import ArticleComment from "@/modules/articles/components/comment";
import ArticleTextarea from "@/modules/articles/components/textarea";

export default {
  components: {
    Wrapper,
    ArticleComment,
    ArticleTextarea,
  },
  data() {
    return {
      banned: false,
    };
  },
  computed: {
    ...mapState("user", ["current", "isLoggedIn"]),
    ...mapState("articles", ["article_comments"]),
    ...mapState("articles", [
      "article_comments",
      "mentionArticleCommentId",
      "mentionArticleComment",
    ]),
    ...mapState("nft_project_detail", ["project"]),
  },
  methods: {
    ...mapActions("articles", [
      "getArticleComments",
      "setMentionArticleCommentId",
      "getArticleComment",
    ]),
    ...mapActions("core", ["showLoginDialog", "showRegisterDialog"]),
    ...mapActions("onboarding_dialog", [
      "openOnboardingDialog",
      "openOnboardingRegister",
    ]),
    logToComment() {
      this.openOnboardingDialog(this.$router.currentRoute.path);
    },
    registerToComment() {
      this.openOnboardingRegister(this.$router.currentRoute.path);
    },
    simulateClick(elem) {
      const evt = new MouseEvent("click", {
        bubbles: true,
        cancelable: true,
        view: window,
      });
      const canceled = !elem.dispatchEvent(evt);
    },
    async getComments() {
      if (Object.keys(this.article_comments).length <= 0) {
        if (this.project && this.project.articleId) {
          let article_id = this.project.articleId;
          await this.getArticleComments(article_id);
          if (this.$route.query.hasOwnProperty("comment")) {
            await this.setMentionArticleCommentId(this.$route.query.comment);

            if (this.mentionArticleCommentId) {
              await this.getArticleComment({
                id: this.mentionArticleCommentId,
                article_id: article_id,
              });
              if (this.mentionArticleComment.parentId != null) {
                setTimeout(() => {
                  this.$vuetify.goTo(
                    `#id_${this.mentionArticleComment.parentId}`,
                    this.scrollOptions
                  );
                  let el = document.getElementById(
                    `replyBtn_${this.mentionArticleComment.parentId}`
                  );
                  this.simulateClick(el);
                }, 500);
              } else {
                setTimeout(() => {
                  this.$vuetify.goTo(
                    `#mentioned_${this.mentionArticleCommentId}`,
                    this.scrollOptions
                  );
                }, 500);
              }
            }
          }
        }
      }
    },
  },
  async beforeMount() {
    if (await this.isBanned("comment_banned")) {
      this.banned = true;
    }
    this.getComments();
  },
};
</script>

<style lang="scss" scoped>
.text-18 {
  font-size: 18px !important;
}
</style>