<i18n>
{
  "es": {
    "projectTab": "Detalle del NFT",
    "faqsTab": "Preguntas frecuentes",
    "newsTab": "Novedades",
    "forum": "Foro",
    "tradingHistory": "Historial de transacciones"
  },
  "en": {
    "projectTab": "NFT Detail",
    "faqsTab": "FAQs",
    "newsTab": "News",
    "forum": "Forum",
    "tradingHistory": "Trading History"
  }
}
</i18n>
<template>
  <Wrapper mainContainerClass="bgNftBlack">
    <template slot="content">
      <v-container class="pb-5">
        <v-row class="bgProjectInfo pa-4">
          <v-col cols="12">
            <v-chip-group
              mandatory
              :center-active="true"
            >
              <v-chip
                v-for="tab in tabs"
                :key="tab.name"
                color="#141416"
                class="white--text"
                :class="{'px-2': isXsSm(), 'px-4': !isXsSm(), 'v-chip--active': false, 'active-chip': tab.name == currentTab}"
                @click="currentTab = tab.name"
              >
                {{ tab.text }}
              </v-chip>
            </v-chip-group>
          </v-col>
          <v-col cols="12">
            <component v-bind:is="currentTab"></component>
          </v-col>
        </v-row>
      </v-container>
    </template>
  </Wrapper>
</template>

<script>
import Wrapper from "../../../core/Wrapper.vue";
import NftDetailProject from "./NftDetailProject.vue";
import FAQ from "./FAQ.vue";
import News from "./News.vue";
import Forum from "./Forum.vue";
import TradingHistory from "./TradingHistory.vue";

export default {
  components: {
    Wrapper,
    NftDetailProject,
    FAQ,
    News,
    Forum,
    TradingHistory,
  },
  data() {
    return {
      currentTab: "NftDetailProject",
    };
  },
  computed: {
    tabs() {
      return [
        { text: this.$t("projectTab"), name: "NftDetailProject" },
        { text: this.$t("faqsTab"), name: "FAQ" },
        //{ text: this.$t("newsTab"), name: "News" },
        { text: this.$t("forum"), name: "Forum" },
        { text: this.$t("tradingHistory"), name: "TradingHistory" },
      ];
    },
  },
  watch: {
    // Si cambia el proyecto, vuelvo al primer tab
    // project() {
    //   if (this.tabs[0].name !== this.currentTab)
    //     this.currentTab = this.tabs[0].name;
    // },
    $route() {
      this.currentTab = 'NftDetailProject';
    },
  },
};
</script>

<style lang="scss" scoped>
.bgProjectInfo {
  background-color: #20252a;
  color: #ffffff;
  border-radius: 4px;
}

::v-deep .v-chip.v-size--default {
  height: 32px;
}
>>> .v-chip.v-chip--active {
  background-color: rgb(20, 20, 22) !important;
  border-color: rgb(20, 20, 22) !important;
}
::v-deep .v-chip.active-chip {
  background-color: var(--v-secondary-base) !important;
  border-color: var(--v-secondary-base) !important;
  font-weight: 700 !important;
}
</style>
