<template>
  <Wrapper mainContainerClass="transparent">
    <template slot="content">
      <v-container class="pa-0">
        <v-row>
          <v-col cols="12" class="px-0">
            <div
              class="subtitle-1 white--text"
            >Proximamente las Novedades</div>
          </v-col>
        </v-row>
      </v-container>
    </template>
  </Wrapper>
</template>

<script>
import Wrapper from "../../../core/Wrapper.vue";

export default {
  components: {
    Wrapper,
  },
}
</script>