<template>
  <Wrapper mainContainerClass="transparent">
    <template slot="content">
      <v-container class="pa-0">
        <v-row>
          <template v-for="index in 6">
            <v-col v-if="isNotFaq(index)" cols="12" :key="index" class="px-0">
              <div class="subtitle-1 white--text detailFixes">
                <h3 v-html="project[`contentTitle${index}`]"></h3>
                <div v-html="project[`contentDetail${index}`]"></div>
              </div>
            </v-col>
          </template>
        </v-row>
      </v-container>
    </template>
  </Wrapper>
</template>

<script>
import { mapState } from "vuex";
import Wrapper from "../../../core/Wrapper.vue";
import { Spotlight } from "../../spotlightWrapper";

export default {
  components: {
    Wrapper,
  },
  data() {
    return {
      lightGalleryItems: [],
      lightGalleryIndex: 0,
    }
  },
  computed: {
    ...mapState("nft_project_detail", ["project", "loading"]),
  },
  methods: {
    isNotFaq(index) {
      let prop = `contentTitle${index}`;
      if (
        this.project[prop] &&
        this.project[prop].toLowerCase().trim() == "preguntas frecuentes"
      ) {
        return false;
      }
      return true;
    },
    cleanEmptyElements() {
      let p = document.querySelectorAll(".detailFixes p, .detailFixes h3");
      for (let i = 0; i < p.length; i++) {
        if (p[i]) {
          if (p[i].innerHTML.replace("&nbsp;", "").replace(/\s+/g, "") === "") {
            p[i].parentNode.removeChild(p[i]);
          } else {
            p[i].removeAttribute("style");
          }
        }
      }

      let p2 = document.querySelectorAll(".detailFixes p span");
      for (let i = 0; i < p2.length; i++) {
        if (p2[i]) p2[i].removeAttribute("style");
      }

      let img = document.querySelectorAll(
        ".detailFixes .img-project-large, .detailFixes .img-project-medium, .detailFixes .img-project-small"
      );
      for (let i = 0; i < img.length; i++) {
        if (img[i]) {
          let d = document.createElement("div"),
            ic = document.createElement("i"),
            classes = img[i].classList,
            withZoom = !classes.contains("no-zoom");

          d.className = "image-after";
          ic.className = "v-icon mdi mdi-magnify-plus-outline";

          for (let j = 0; j < classes.length; j++) {
            let prefix = [
              "img-project-large",
              "img-project-medium",
              "img-project-small",
            ].includes(classes[j]);
            d.className += prefix ? " div-" + classes[j] : " " + classes[j];
          }

          img[i].removeAttribute("style");
          img[i].removeAttribute("class");
          img[i].parentNode.insertBefore(d, img[i].nextSibling);
          img[i].parentNode.removeChild(img[i]);

          d.appendChild(img[i]);

          if (withZoom) {
            d.appendChild(ic);

            d.addEventListener("click", (event) => {
              this.createLightGallery(event);
            });
          }
        }
      }
    },
    createLightGallery(e) {
      let t = e.target.nodeName === "IMG" ? e.target : e.target.previousSibling,
        parent = t.closest("#lightgallery");

      this.lightGalleryItems = [];
      this.lightGalleryIndex = 0;

      if (parent) {
        let imgs = parent.querySelectorAll(
          ".div-img-project-large img, .div-img-project-medium img, .div-img-project-small img"
        );

        for (let i = 0; i < imgs.length; i++) {
          if (imgs[i] && imgs[i].src) {
            this.lightGalleryItems.push({ src: imgs[i].src });
            if (imgs[i].src === t.src) this.lightGalleryIndex = i;
          }
        }
      } else {
        if (t.src) this.lightGalleryItems = [{ src: t.src }];
      }

      Spotlight.show(this.lightGalleryItems, {
        index: this.lightGalleryIndex + 1,
      });
    },
  },
  watch: {
    project() {
      let that = this;
      setTimeout(function(){
        that.cleanEmptyElements();
      }, 100)
    }
  },
};
</script>

<style lang="scss" scoped>
$imgSmallWidth: 160px;
$imgMediumWidth: 320px;

::v-deep .detailFixes {
  h3 {
    font-size: 18px;
    font-weight: normal;
    font-family: "Poppins";
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 700;

    &:first-child {
      padding-top: 0 !important;
      border-top: none !important;
    }
  }

  p {
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
  }

  img {
    max-width: 100%;
  }

  img.fr-dii,
  img.fr-fic {
    width: 100%;
    height: auto;
  }

  .div-img-project-large img,
  .div-img-project-small img,
  .div-img-project-medium img {
    width: 100% !important;
  }

  .div-img-project-large {
    max-width: 100% !important;
  }
  .div-img-project-small {
    width: $imgSmallWidth !important;

    &.boxed {
      height: $imgSmallWidth !important;
    }
  }
  .div-img-project-medium {
    width: $imgMediumWidth !important;

    &.boxed {
      height: $imgMediumWidth !important;
    }
  }

  .image-after {
    position: relative;
    display: inline-block;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      clear: both;
    }

    img {
      float: left;
      transition: all 0.3s ease;
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 34px;
      margin-top: -17px;
      margin-left: -17px;
      opacity: 0;
    }

    &:not(.no-zoom) {
      cursor: pointer;

      &:hover {
        img {
          opacity: 0.4;
        }

        i {
          opacity: 1;
        }
      }
    }

    &:not(.div-img-project-large).boxed {
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  table {
    width: auto !important;

    tr {
      td {
        vertical-align: top;
      }
    }
  }
}

::v-deep .detailFixes table {
  width: 100% !important;
}

::v-deep .detailFixes span,
::v-deep .detailFixes p {
  text-align: left !important;
}

@media screen and (max-width: 768px) {
  ::v-deep .detailFixes {
    .div-img-project-large,
    .div-img-project-medium,
    .div-img-project-small {
      max-width: 100%;
    }

    .div-img-project-small {
      width: $imgSmallWidth/2 !important;

      &.boxed {
        height: $imgSmallWidth/2 !important;
      }
    }
    .div-img-project-medium {
      width: $imgMediumWidth/2 !important;

      &.boxed {
        height: $imgMediumWidth/2 !important;
      }
    }
  }
}
</style>