<i18n>
{
  "es": {
    "price": "Precio (IUSD)",
    "tokens_amount": "Cantidad",
    "date": "Fecha y Hora",
    "status": {
      "offer": "Oferta",
      "winning_offer": "Oferta Ganadora",
      "sell": "Venta"
    }
  },
  "en": {
    "price": "Price (IUSD)",
    "tokens_amount": "Amount",
    "date": "Date",
    "status": {
      "offer": "Offer",
      "winning_offer": "Winning Offer",
      "sell": "Sell"
    }
  }
}
</i18n>
<template>
  <Wrapper mainContainerClass="transparent">
    <template slot="content">
      <v-container class="pa-0">
        <v-row class="px-md-2">
          <v-col cols="12" class="px-0">
            <v-data-table
              dense
              :headers="headers"
              :items="tradingHistory"
              :page.sync="page"
              :items-per-page="itemsPerPage"
              @page-count="pageCount = $event"
              item-class="itemClass"
              calculate-widths
              hide-default-footer
              :loading="loading"
              dark
            >
              <template v-slot:[`item.date`]="{ item }">
                <span class="caption-2 font-weight-regular">{{
                  item.date
                }}</span>
                <span class="ml-3">
                  <v-chip
                    v-if="
                      item.type == 'investment' && item.status == 'confirmed'
                    "
                    color="secondary"
                    outlined
                    small
                    ><span class="white--text">{{
                      $t("status.winning_offer")
                    }}</span></v-chip
                  >
                  <v-chip
                    v-else-if="
                      item.type == 'investment' &&
                      (item.status == 'project_canceled' ||
                        item.status == 'project_pending')
                    "
                    color="#d8bbfc"
                    outlined
                    small
                    ><span class="white--text">{{
                      $t("status.offer")
                    }}</span></v-chip
                  >
                  <v-chip
                    v-else-if="
                      item.type == 'trading_sale_detail' &&
                      item.status == 'confirmed'
                    "
                    color="#4efeb1"
                    outlined
                    small
                    ><span class="white--text">{{
                      $t("status.sell")
                    }}</span></v-chip
                  >
                </span>
              </template>
            </v-data-table>
          </v-col>
          <v-col
            v-if="tradingHistory.length"
            cols="12"
            class="text-center pt-2"
          >
            <UiPagination
              v-model="page"
              :totalItems="tradingHistory.length"
              :itemsPerPage="itemsPerPage"
              :totalVisible="7"
              :loading="loading"
              @changePage="changePage"
              dark
            />
          </v-col>
        </v-row>
      </v-container>
    </template>
  </Wrapper>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { UiPagination } from "ui-components";

export default {
  name: "TradingHistory",
  components: { UiPagination },
  data() {
    return {
      page: 1,
      pageCount: 0,
      itemsPerPage: 12,
      tradingHistory: [],
      loading: false,
      headers: [
        {
          text: this.$t("date"),
          align: "start",
          sortable: false,
          value: "date",
          class: "caption-2 font-weight-regular",
        },
        {
          text: this.$t("price"),
          align: "end",
          sortable: false,
          value: "price",
          class: "caption-2 font-weight-regular",
        },
      ],
    };
  },
  computed: {
    ...mapState("nft_project_detail", ["project"]),
  },
  methods: {
    ...mapActions("nft_project_detail", ["getTradingHistoryByProjectId"]),
    changePage(newPage) {
      this.page = newPage;
    },
    async getTradingHistory() {
      this.loading = true;
      const th = await this.getTradingHistoryByProjectId(this.project.id);

      if (th.length) {
        this.tradingHistory = th.map((history, index) => ({
          id: `th-${index}`,
          date: this.$moment(new Date(history.created_at)).format(
            "DD MMM YYYY hh:mm:ss"
          ),
          price: this.number_format(history.value_in_usd),
          originalPrice: history.value_in_usd,
          total: history.parts_total,
          itemClass: "tablerow",
          status: history.status,
          type: history.historical_type,
        }));
      }

      this.loading = false;
    },
  },
  mounted() {
    this.getTradingHistory();
  },
};
</script>

<style lang="scss" scoped>
.data-table-wrapper
  ::v-deep
  .v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > .tablerow
  > td {
  font-size: 13px !important;
}
.v-data-table {
  background-color: transparent !important;
  border-bottom: thin solid rgba(255, 255, 255, 0.12);
}
</style>