
<i18n>
  {
    "es": {
      "title-1": "¿Todavía no sos dueño de un NFT?",
      "title-2": "Conocé las últimas colecciones<br class='d-none d-sm-block'> del mundo del arte, el gaming,<br class='d-none d-sm-block'> las cripto y el deporte.",
      "cta-1": "Ver NFTs"
    },
    "es-AR": {
      "title-1": "¿Todavía no sos dueño de un NFT?",
      "title-2": "Conocé las últimas colecciones<br class='d-none d-sm-block'> del mundo del arte, el gaming,<br class='d-none d-sm-block'> las cripto y el deporte.",
      "cta-1": "Ver NFTs"
    },
    "pt": {
      "title-1": "¿Todavía no sos dueño de un NFT?",
      "title-2": "Conocé las últimas colecciones<br class='d-none d-sm-block'> del mundo del arte, el gaming,<br class='d-none d-sm-block'> las cripto y el deporte.",
      "cta-1": "Ver NFTs"
    },
    "en": {
      "title-1": "¿Todavía no sos dueño de un NFT?",
      "title-2": "Conocé las últimas colecciones<br class='d-none d-sm-block'> del mundo del arte, el gaming,<br class='d-none d-sm-block'> las cripto y el deporte.",
      "cta-1": "Ver NFTs"
    }
  }
</i18n>

<template>
  <v-card class="elevation-0" color="transparent">
    <v-card-text class="px-2">
      <v-row>
        <v-col cols="12" sm="6" class="flex-column align-self-center">
          <h5 class="text-subtitle-2 black--text font-weight-normal">
            <span class="poppins" v-text="$t('title-1')"> </span>
          </h5>
          <h3
            class="text-h5 black--text font-weight-bold word-break-normal my-4"
          >
            <span class="poppins" v-html="$t('title-2')"> </span>
          </h3>
          <v-btn
            v-text="$t('cta-1')"
            color="#6400b4"
            class="px-8 white--text"
            to="/nft"
          >
          </v-btn>
        </v-col>
        <v-col cols="12" sm="6">
          <v-img
            src="../../../../assets/images/mis-nft/pictures/mis-nft-image-desktop.png"
            class="d-none d-sm-block"
            width="478px"
            height="379px"
            contain
          >
          </v-img>
          <v-img
            src="../../../../assets/images/mis-nft/pictures/mis-nft-image-mobile.png"
            class="d-sm-none"
            width="358px"
            height="365px"
            contain
          >
          </v-img>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<style scoped>
.word-break-normal {
  word-break: normal;
}
</style>