<i18n>
{
  "es": {
    "no_result": "No posees NFT en las categorías seleccionadas. ¿Qué esperas para ser adquirir uno?"
  },
  "en": {
    "no_result": "No posees NFT en las categorías seleccionadas. ¿Qué esperas para ser adquirir uno?"
  }
}
</i18n>
<template>
  <v-row no-gutters>
    <v-col v-if="loading">
      <v-card class="d-flex align-center justify-center elevation-0" color="transparent" height="300px">
        <v-progress-circular
          indeterminate
          color="secondary"
        ></v-progress-circular>
      </v-card>
    </v-col>
    <template v-else>
      <template v-if="nftCollections.length > 0">
        <v-col
          v-for="(nftCollection, index) in nftCollections"
          :key="index"
          cols="12"
          class="pt-0"
        >
          <NftCollectionsCard :nftCollection="nftCollection" />
          <v-divider
            v-if="index < nftCollections.length - 1"
            color="#6400b4"
            class="mx-2"
          ></v-divider>
        </v-col>
      </template>
      <v-col v-else cols="12" class="pt-0">
        <v-card class="elevation-0" color="transparent" height="300px" dark>
          <v-card-text class="px-2 black--text">
            {{ $t("no_result") }}
          </v-card-text>
        </v-card>
      </v-col>
    </template>
  </v-row>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import NftCollectionsCard from "./nft-collections/NftCollectionsCard";

export default {
  computed: {
    ...mapState("mis-nft", ["loading"]),
    ...mapGetters("mis-nft", ["nftCollections"]),
  },
  components: {
    NftCollectionsCard,
  },
};
</script>
