<i18n>
  {
    "es": {
      "category": {
        "Nft": "Todos"
      }
    },
    "es-AR": {
      "category": {
        "Nft": "Todos"
      }
    },
    "pt": {
      "category": {
        "Nft": "Todos"
      }
    },
    "en": {
      "category": {
        "Nft": "Todos"
      }
    }
  }
</i18n>

<template>
  <v-slide-group
    v-model="selectedNftProjectCategories"
    show-arrows
    multiple
  >
    <v-slide-item
      v-for="(nftCategory, index) in nftCategories"
      :key="index"
      v-slot="{ active, toggle }"
      :value="nftCategory.id"
    >
      <v-btn
        class="mx-2 px-2 px-md-5 custom-btn"
        :input-value="active"
        active-class="activated-btn"
        depressed
        rounded
        outlined
        small
        @click="toggle"
        v-text="get_category_name(nftCategory.name)"
      >
      </v-btn>
    </v-slide-item>
  </v-slide-group>
</template>

<script>
  import { mapState, mapActions } from "vuex"

  export default {
    data(){
      return {
        categoryIdNft: process.env.VUE_APP_PROJECT_CATEGORIES_ID_NFT
      }
    },
    computed: {
      ...mapState("mis-nft", [
        "nftCategories",
        "nftProjectCategories"
      ]),
      selectedNftProjectCategories: {
        get(){
          return this.nftProjectCategories;
        },
        async set(categories){
          if (categories.length > 1) {
            // Si tiene mas de una category y la category.id (nft) esta presente en la primer posicion la elimino del array
            if (categories[0] == this.categoryIdNft) {
              categories = categories.filter(n => n != this.categoryIdNft);

            // Si tiene mas de una category y la category.id (nft) esta presente en la ultima posicion elimino todas menos la (nft)
            }else if(categories[categories.length - 1] == this.categoryIdNft){
              categories = categories.filter(n => n == this.categoryIdNft);
            }

          // Si no tiene categories cargadas precargo la category.id (nft)
          }else if(categories.length < 1){
            categories.push(this.categoryIdNft)
          }
          this.updateNftProjectCategories(categories);
          await this.get_nft_portfolio();
        }
      }
    },
    async mounted(){
      await this.get_nft_categories();
    },
    methods: {
      ...mapActions("mis-nft", [
        "getNftCategories",
        "getNftPortfolio",
        "updateNftProjectCategories",
        "loadingTrue",
        "loadingFalse"
      ]),
      get_category_name(value){
        const categoryNames = {
          'Nft': this.$t(`category.${value}`),
          'default': value
        }
        return (categoryNames[value] || categoryNames['default'])
      },
      async get_nft_portfolio(){
        this.loadingTrue()
        await this.getNftPortfolio()
        .then(response => {})
        .catch(e => {});
        this.loadingFalse()
      },
      async get_nft_categories(){
        await this.getNftCategories()
        .then(async (response) => {
          await this.get_nft_portfolio();
        })
        .catch(e => {});
      }
    }
  }
</script>

<style scoped>
  .custom-btn{
    background-color: transparent !important;
    border-color: #6400ba !important;
    color: #6400ba !important;
  }

  .activated-btn{
    background-color: #6400ba !important;
    border-color: transparent !important;
    color: white !important;
  }

  .activated-btn:before{
    opacity: 0 !important;
  }
</style>
