<i18n>
  {
    "es": {
      "nftStatus": {
        "confirmed": "Tenencia",
        "pending": "Ofertas Vigentes"
      }
    },
    "es-AR": {
      "nftStatus": {
        "confirmed": "Tenencia",
        "pending": "Ofertas Vigentes"
      }
    },
    "pt": {
      "nftStatus": {
        "confirmed": "Tenencia",
        "pending": "Ofertas Vigentes"
      }
    },
    "en": {
      "nftStatus": {
        "confirmed": "Tenencia",
        "pending": "Ofertas Vigentes"
      }
    }
  }
</i18n>

<template>
  <v-tabs
    v-model="selectedNftProjectStatus"
    show-arrows
    center-active
    height="50px"
    background-color="transparent"
    active-class="status-activated"
  >
    <v-tabs-slider color="secondary"></v-tabs-slider>
    <v-tab
      v-for="(nftStatus, index) in nftStatuses"
      :key="index"
      :href="`#${nftStatus.id}`"
      class="tab-border-bottom text-none poppins"
      v-text="$t(`nftStatus.${nftStatus.id}`)"
    >
    </v-tab>
  </v-tabs>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      nftStatuses: [
        {
          id: "confirmed",
        },
        {
          id: "pending",
        },
      ],
    };
  },
  computed: {
    ...mapState("mis-nft", ["nftProjectStatus"]),
    selectedNftProjectStatus: {
      get() {
        return this.nftProjectStatus;
      },
      async set(value) {
        this.updateNftProjectStatus(value);
        await this.get_nft_portfolio();
      },
    },
  },
  methods: {
    ...mapActions("mis-nft", [
      "updateNftProjectStatus",
      "getNftPortfolio",
      "loadingTrue",
      "loadingFalse",
    ]),
    async get_nft_portfolio() {
      this.loadingTrue();
      await this.getNftPortfolio()
        .then((response) => {})
        .catch((e) => {});
      this.loadingFalse();
    },
  },
};
</script>

<style lang="scss" scoped>
.tab-border-bottom {
  letter-spacing: unset;
  min-width: unset !important;
}
.status-activated {
  color: black !important;
  font-weight: 700 !important;
}
::v-deep .v-tabs-slider-wrapper {
  height: 3px !important;
}

::v-deep .v-tab:not(.v-tab--active) {
  color: #757575 !important;
  font-weight: 500 !important;
}
</style>
