<template>
  <v-card
    class="mx-auto rounded-card"
    :to="`/nft/${item.nameId}`"
    color="#20252a"
    width="254px"
    height="254px"
    rounded="xl"
  >
    <v-img
      class="white--text"
      height="102px"
      :src="item.bannersUrl.large"
      :alt="item.name"
    >
    </v-img>
    <v-card-title class="d-flex justify-center mt-n11">
      <v-avatar size="86" class="pt-20 outlined">
        <v-img :src="item.logoUrl.medium" :alt="item.name" />
      </v-avatar>
    </v-card-title>
    <v-card-subtitle class="d-flex justify-center pa-4">
      <div class="title-1 poppins font-weight-bold white--text text-center">
        {{ item.name }}
      </div>
    </v-card-subtitle>
  </v-card>
</template>

<script>
export default {
  props: {
    item: [],
  },
};
</script>

<style scoped>
.rounded-card {
  border: 1px solid #999 !important;
}
.rounded-card:hover {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  transform: scale(1);
  transition: 0.15s linear;
  box-shadow: 1px 1px 2px rgba(157, 184, 209, 0.5);
}
.outlined {
  border: double 5px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, rgb(0, 255, 81), #20bcff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
</style>
