<i18n>
{
  "es": {
    "title": "Otras colecciones"
  },
  "en": {
    "title": "Other collections"
  }
}
</i18n>

<template>
  <Wrapper mainContainerClass="black">
    <template slot="content">
      <v-container>
        <v-row class="mb-3 mt-10">
          <v-col cols="12">
            <div
              class="mr-12 poppins white--text font-weight-bold"
              style="font-size: 28px"
            >
              {{ $t("title") }}
            </div>
          </v-col>
          <v-col cols="12" class="pr-0 pr-md-3">
            <template v-if="data.length > 0">
              <carousel
                :nav="false"
                :dots="false"
                :autoWidth="true"
                :margin="10"
                rewind
                autoplay
                autoplayHoverPause
                class="main-carousel"
              >
                <template
                  v-if="!isXsSm() && data.length > 4"
                  slot="prev"
                  class="prev-button"
                >
                  <span class="prev">
                    <v-btn text icon>
                      <v-icon xLarge color="white"> mdi-chevron-left </v-icon>
                    </v-btn>
                  </span>
                </template>
                <template v-if="!isXsSm() && data.length > 4" slot="next">
                  <span class="next">
                    <v-btn text icon>
                      <v-icon xLarge color="white"> mdi-chevron-right </v-icon>
                    </v-btn>
                  </span>
                </template>
                <div v-for="(item, index) in data" :key="index">
                  <CardCollection :item="item" />
                </div>
              </carousel>
            </template>
          </v-col>
        </v-row>
      </v-container>
    </template>
  </Wrapper>
</template>

<script>
import carousel from "vue-owl-carousel";
import CardCollection from "./CardCollection.vue";

export default {
  name: "Highlights",
  props: {
    data: [],
  },
  components: {
    carousel,
    CardCollection,
  },
};
</script>
<style lang="scss" scoped>
// Carousel
::v-deep .owl-carousel {
  & .owl-stage-outer {
    padding: 15px 0;
  }
}

// Por alguna razón el atributo loop del carousel
// oculta el botón prev. De esta forma se muestra
::v-deep [id^="carousel_prev_"] {
  display: flex !important;
}

.main-carousel {
  position: relative;

  & .next {
    position: absolute;
    right: -5%;
    top: calc(50% - 28px);
  }
  & .prev {
    position: absolute;
    top: calc(50% - 28px);
    left: -5%;
  }
}
</style>
