<template >
  <div :class="countdownClass">
    <div v-if="time" class="border-container">
      <div
        class="mt-1 text-caption poppins"
        style="
          font-weight: 900 !important;
          width: 108px;
          margin-right: 28px;
          text-align: center;
          margin-left: 6px;
        "
      >
        {{ time }}
      </div>
      <div>
        <fire :font-size="2" :top="-6" :left="118"></fire>
      </div>
    </div>
    <div v-else class="border-container d-flex justify-center align-center">
      <v-progress-circular
        :size="20"
        indeterminate
        color="secondary"
      ></v-progress-circular>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import fire from "@/modules/home/components/fire";

export default {
  name: "NftCountdown",
  props: {
    enddate: {
      type: String,
      required: true,
    },
    center: {
      type: Boolean,
      default: true,
    },
  },
  components: { fire },
  data() {
    return {
      time: null,
    };
  },
  computed: {
    countdownClass() {
      return {
        "d-flex": true,
        "justify-center": this.center,
      };
    },
  },
  methods: {
    durationAsString() {
      const dateNow = new Date()
        .toISOString()
        .replace(/T/, " ")
        .replace(/\..+/, "");
      const duration = moment.duration(moment(this.enddate).diff(dateNow));
      if (duration >= 0) {
        const d = Math.floor(duration.asDays());
        const h = duration.hours();
        const m = duration.minutes();
        const s = duration.seconds();
        return `${d}d ${h}h ${m}m ${s}s`;
      } else {
        return false;
      }
    },
  },
  mounted() {
    setInterval(() => {
      this.time = this.durationAsString();
    }, 1000);
  },
};
</script>

<style scoped>
.border-container {
  width: 150px;
  height: 30px;
  border: solid 2px #6400b4;
  border-radius: 25px;
  background-color: white;
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: relative;
}
.loading-progress {
  width: 242px;
  height: 20px;
  text-align: center;
  position: relative;
  top: -24px;
}
</style>