<template>
  <v-card class="elevation-0" color="transparent">
    <v-card-title class="pa-0 d-flex justify-space-between">
      <h5 class="text-subtitle-2 black--text font-weight-bold mb-1">
        <span
          class="poppins text-uppercase"
          v-text="portfolio.project.title"
        ></span>
      </h5>
      <v-btn
        icon
        outlined
        x-small
        class="d-lg-none mb-2"
        color="black"
        :to="linkToDetail"
      >
        <v-icon color="black"> mdi-chevron-right </v-icon>
      </v-btn>
    </v-card-title>
    <v-card-text class="pt-1 px-0 d-flex flex-column flex-lg-row">
      <v-card rounded class="elevation-0" color="transparent">
        <v-img
          :width="$vuetify.breakpoint.lg ? '234px' : '100%'"
          :height="$vuetify.breakpoint.lg ? '234px' : '100%'"
          :src="nftPreview"
          :class="{ 'filter-img': nftProjectStatus != 'confirmed' }"
        ></v-img>
        <NftCountdown
          v-if="nftProjectStatus != 'confirmed' && $vuetify.breakpoint.lg"
          class="mt-n4"
          :enddate="project.enddate"
        />
      </v-card>
      <nft-details-mobile
        :portfolio="portfolio"
        class="d-lg-none"
      ></nft-details-mobile>
      <nft-details-desktop
        :portfolio="portfolio"
        class="d-none d-lg-flex"
      ></nft-details-desktop>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapState } from "vuex";
import NftDetailsMobile from "./misc/NftDetailsMobile";
import NftDetailsDesktop from "./misc/NftDetailsDesktop";
import NftCountdown from "./NftCountdown.vue";

export default {
  props: {
    portfolio: {
      required: true,
      type: Object,
    },
  },
  computed: {
    ...mapState("mis-nft", ["nftProjectStatus"]),
    nftPreview() {
      if (this.project && this.project?.nftFiles && this.project.nftFiles?.nft_preview) {
        return this.project.nftFiles.nft_preview.url;
      } else if (this.project && this.project.imagesUrl) {
        return this.project.imagesUrl.small;
      }
    },
    project() {
      return this.portfolio.project;
    },
    linkToDetail() {
      return `/nft/${this.project.nftCollection.nameId}/${this.project.titleId}`;
    },
  },
  components: {
    NftDetailsMobile,
    NftDetailsDesktop,
    NftCountdown,
  },
};
</script>

<style scoped>
.filter-img {
  filter: brightness(0.6);
}
</style>