<i18n>
  {
    "es": {
      "author": "Autor",
      "price": "Precio pagado",
      "sell": "Vender"
    },
    "es-AR": {
      "author": "Autor",
      "price": "Precio pagado",
      "sell": "Vender"
    },
    "pt": {
      "author": "Autor",
      "price": "Precio pagado",
      "sell": "Vender"
    },
    "en": {
      "author": "Autor",
      "price": "Precio pagado",
      "sell": "Vender"
    }
  }
</i18n>

<template>
  <v-card class="elevation-0 px-4 flex-column" color="transparent">
    <div class="flex-grow-0">
      <v-btn fab outlined x-small color="black" :to="linkToDetail">
        <v-icon color="black"> mdi-chevron-right </v-icon>
      </v-btn>
    </div>
    <div class="flex-grow-1 pt-5">
      <p class="text-caption black--text ma-0">
        <span v-text="$t('author')" class="poppins"></span>
      </p>
      <p class="text-caption black--text font-weight-bold">
        <span v-text="getAuthor" class="poppins"></span>
      </p>
      <p class="text-caption black--text ma-0">
        <span v-text="$t('price')" class="poppins"></span>
      </p>
      <p class="text-caption black--text font-weight-bold">
        <span v-text="getPrice" class="poppins"></span>
      </p>
    </div>
    <div v-if="nftProjectStatus != 'pending'" class="flex-grow-0">
      <v-btn
        v-text="$t('sell')"
        color="#00faaa"
        class="poppins black--text px-8 font-weight-bold"
        min-width="150px"
        :to="projectLink"
        @click="trackEventToTrading()"
      >
      </v-btn>
    </div>
  </v-card>
</template>

<script>
import { mapState } from "vuex";

export default {
  props: {
    portfolio: {
      required: true,
      type: Object,
    },
  },
  computed: {
    ...mapState("mis-nft", ["nftProjectStatus"]),
    getAuthor() {
      let auxReturn = "anonimo";
      try {
        auxReturn = this.project.nftCollection.nftAuthor.name;
      } catch (e) {}
      return auxReturn;
    },
    getPrice() {
      let auxReturn = "$0.00";
      try {
        auxReturn = `${this.number_format(this.project.partValue)} ${
          this.project.currency
        }`;
      } catch (e) {}
      return auxReturn;
    },
    project() {
      return this.portfolio.project;
    },
    projectLink() {
      return `/projects/${this.portfolio.id}/trading_sales/new`;
    },
    linkToDetail() {
      return `/nft/${this.project.nftCollection.nameId}/${this.project.titleId}`
    }
  },
  methods: {
    trackEventToTrading(){
      this.triggerGTMEvent(
        `to-nft-sell-trading`, //event
        'UserActivity', //category
        'NftInvestment', //action
        `${this.$route.params.title_id}/${this.$route.params.nft_collection_name_id}` //label
      );
    }
  },
};
</script>