<i18n>
  {
    "es": {
      "author": "Autor:",
      "price": "Precio:",
      "sell": "Vender"
    },
    "es-AR": {
      "author": "Autor:",
      "price": "Precio:",
      "sell": "Vender"
    },
    "pt": {
      "author": "Autor:",
      "price": "Precio:",
      "sell": "Vender"
    },
    "en": {
      "author": "Autor:",
      "price": "Precio:",
      "sell": "Vender"
    }
  }
</i18n>

<template>
  <v-card
    class="elevation-0"
    color="transparent"
  >
    <v-card-text
      class="px-0 pt-3 d-flex justify-space-between"
    >
      <p
        class="text-caption black--text ma-0"
      >
        <span
          v-text="$t('author') "
          class="poppins"
        ></span> <span
          v-text="getAuthor"
          class="poppins font-weight-bold"
        ></span>
      </p>
      <p
        class="text-caption black--text ma-0 text-right"
      >
        <span
          v-text="$t('price') "
          class="poppins"
        ></span> <span
          v-text="getPrice"
          class="poppins font-weight-bold"
        ></span>
      </p>
    </v-card-text>
    <v-card-text
      v-if="nftProjectStatus != 'pending'"
      class="px-0 pt-0"
    >
      <v-btn
        v-text="$t('sell')"
        color="#00faaa"
        block
        class="poppins black--text px-8 font-weight-bold"
        :to="projectLink"
        @click="trackEventToTrading()"
      >
      </v-btn>
    </v-card-text>
    <v-card-text class="px-0 pt-0" v-else>
      <NftCountdown
        :enddate="project.enddate"
        :center="false"
      />
    </v-card-text>
  </v-card>
</template>

<script>
  import { mapState } from "vuex";
  import NftCountdown from "../NftCountdown.vue";

  export default {
    props: {
      portfolio: {
        required: true,
        type: Object
      }
    },
    components: {
      NftCountdown,
    },
    computed: {
      ...mapState("mis-nft", ["nftProjectStatus"]),
      getAuthor(){
        let auxReturn = 'anonimo'
        try {
          auxReturn = this.project.nftCollection.nftAuthor.name
        } catch (e){}
        return auxReturn
      },
      getPrice(){
        let auxReturn = '$0.00'
        try {
          auxReturn = `${this.number_format(this.project.partValue)} ${this.project.currency}`
        } catch (e){
          console.log(e);
        }
        return auxReturn
      },
      project() {
        return this.portfolio.project;
      },
      projectLink() {
        return `/projects/${this.portfolio.id}/trading_sales/new`;
      },
    },
    methods: {
      trackEventToTrading(){
        this.triggerGTMEvent(
          `to-nft-sell-trading`, //event
          'UserActivity', //category
          'NftInvestment', //action
          `${this.$route.params.title_id}/${this.$route.params.nft_collection_name_id}` //label
        );
      }
    },
  }
</script>