<i18n src="../locales/collection.json"></i18n>

<template>
  <div v-if="imageUrl">
    <!-- Banner -->
    <v-container class="pa-0" fluid>
      <v-card :height="cardHeight" width="100%" flat tile>
        <v-img
          :src="backgroundImgage"
          :alt="collection.name"
          :height="cardHeight"
        >
          <Wrapper mainContainerClass="transparent">
            <template slot="content">
              <div class="d-flex align-center py-7 px-2">
                <v-btn
                  icon
                  elevation="2"
                  @click="$router.go(-1)"
                  dark
                  style="background-color: rgba(255, 255, 255, 0.1)"
                >
                  <v-icon color="white">mdi-chevron-left</v-icon>
                </v-btn>
                <span class="title-1 white--text ml-4"></span>
              </div>
            </template>
          </Wrapper>
        </v-img>
      </v-card>
    </v-container>
    <!-- Listado de Nfts -->
    <Wrapper mainContainerClass="bgBlack">
      <template slot="content">
        <v-container
          fluid
          class="px-0 pt-0 mt-n15 d-flex justify-center justify-md-start"
        >
          <v-avatar size="120" class="outlined">
            <v-img :src="collection.logoUrl.medium" :alt="collection.name" />
          </v-avatar>
        </v-container>
        <v-container class="my-2">
          <v-row>
            <v-col cols="12">
              <p
                class="
                  poppins
                  white--text
                  font-weight-bold
                  text-center text-lg-left
                "
                style="font-size: 28px"
              >
                {{ collection.name }}
              </p>
              <p
                class="poppins text-body-2 white--text text-center text-lg-left"
              >
                {{ collection.summary }}
              </p>
            </v-col>
            <v-col cols="12">
              <v-progress-linear
                indeterminate
                color="grey"
                :active="loading"
              ></v-progress-linear>
              <v-data-iterator
                :items="collection.nfts"
                :items-per-page.sync="itemsPerPage"
                :page="page"
                hide-default-footer
                :disable-pagination="true"
                class="mt-8"
                :loading="loading"
              >
                <template v-slot:default="props">
                  <v-row>
                    <v-col
                      v-for="item in props.items"
                      :key="item.name"
                      cols="12"
                      sm="4"
                      lg="3"
                      class="pa-2"
                    >
                      <Project :item="item" moduleName="nft_collection" />
                    </v-col>
                  </v-row>
                </template>
                <template v-slot:no-data>
                  <div class="white--text">{{ $t("no_data") }}</div>
                </template>
              </v-data-iterator>
            </v-col>
          </v-row>
        </v-container>
      </template>
    </Wrapper>
    <OtherCollections :data="notSameCollection" />
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import Project from "../../nft/components/Project.vue";
import OtherCollections from "../components/OtherCollections.vue";

export default {
  name: "Collection",
  components: {
    OtherCollections,
    Project,
  },
  head: {
    title: function () {
      return {
        inner: this.meta_title,
      };
    },
    // Meta tags
    meta() {
      let metas = [
        {
          name: "application-name",
          content: "SeSocio",
          id: "appnameid",
        },
        {
          name: "description",
          content: this.meta_description,
          id: "desc", // id to replace intead of create element
        },
        // Twitter
        {
          name: "twitter:title",
          content: this.meta_title,
          id: "twtitle",
        },
        // with shorthand
        {
          n: "twitter:description",
          c: this.meta_description,
          id: "twdesc",
        },
        {
          n: "twitter:site",
          c: "@sesociocom",
          id: "twsite",
        },
        {
          n: "twitter:creator",
          c: "@sesociocom",
          id: "twcreator",
        },
        {
          n: "twitter:card",
          c: "summary_large_image",
          id: "twcard",
        },
        {
          n: "twitter:image",
          c: process.env.VUE_APP_BASE_URL + "img/isologo.png",
          id: "twimage",
        },
        {
          n: "twitter:domain",
          c: "sesocio.com",
          id: "twdomain",
        },
        {
          n: "twitter:url",
          c:
            process.env.VUE_APP_BASE_URL +
            this.$router.currentRoute.path.substr(1),
          id: "twurl",
        },
        // Google+ / Schema.org
        {
          itemprop: "name",
          content: this.meta_title,
          id: "gname",
        },
        {
          itemprop: "description",
          content: this.meta_description,
          id: "gdesc",
        },
        // Facebook / Open Graph
        {
          property: "fb:app_id",
          content: "205875806419296",
          id: "fbid",
        },
        {
          property: "og:title",
          content: this.meta_title,
          id: "ogtitle",
        },
        // with shorthand
        {
          p: "og:image",
          c: process.env.VUE_APP_BASE_URL + "img/isologo.png",
          id: "ogimage",
        },
        {
          p: "og:url",
          c:
            process.env.VUE_APP_BASE_URL +
            this.$router.currentRoute.path.substr(1),
          id: "ogurl",
        },
        {
          p: "og:site_name",
          c: "SeSocio",
          id: "ogsitename",
        },
        {
          p: "og:description",
          c: this.meta_description,
          id: "ogdesc",
        },
        {
          p: "og:type",
          c: "article",
          id: "ogtype",
        },
      ];
      return metas;
    },
  },
  data() {
    return {
      page: 1,
      itemsPerPage: 12,
    };
  },
  methods: {
    ...mapActions("nft_collection", ["getAllCollections", "getCollection", "cleanCollection"]),
    async loadData() {
      const route = this.$route;
      let params = {
        nft_collection_name_id: route.params.nft_collection_name_id,
        country: this.country,
      };

      await this.getCollection(params);
      await this.getAllCollections(params);
    },
  },
  computed: {
    ...mapState("nft_collection", ["loading", "allCollections", "collection"]),
    ...mapState("core", ["country"]),
    meta_title() {
      return this.$t("meta_title", {
        author: this.collection.nftAuthor ? this.collection.nftAuthor.name : "",
      });
    },
    meta_description() {
      return this.$t("meta_description", {
        collection: this.collection.name,
      });
    },
    imageUrl() {
      return this.collection?.backgroundsUrl;
    },
    backgroundImgage() {
      return !this.$vuetify.breakpoint.xs
        ? this.imageUrl.large
        : this.imageUrl.small;
    },
    notSameCollection() {
      // Elimina la colección actual
      return this.allCollections.filter(
        (item) => item.nameId !== this.collection.nameId
      );
    },
    cardHeight() {
      return !this.$vuetify.breakpoint.xs ? "431px" : "357px";
    },
  },
  watch: {
    async $route() {
      await this.loadData();
      this.$emit("updateHead");
    },
  },
  async beforeMount() {
    await this.loadData();
    this.$emit("updateHead");
  },
  destroyed(){
    this.cleanCollection();
  }
};
</script>

<style scoped>
.outlined {
  border: double 5px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(
      circle at left,
      #9347dd 0%,
      #885ed6 7%,
      #738ec9 24%,
      #61b5be 40%,
      #54d3b5 56%,
      #4ae9af 71%,
      #44f6ac 86%,
      #43fbab
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
</style>