<template>
  <div>
    <Detail />
    <ProjectInfo />
    <RecommendedProjects />
  </div>
</template>

<script>
import Detail from "../components/Detail.vue";
import ProjectInfo from "../components/ProjectInfo";
import RecommendedProjects from "../components/RecommendedProjects.vue";

export default {
  name: "NftDetailProject",
  components: {
    Detail,
    ProjectInfo,
    RecommendedProjects,
  },
};
</script>
